.img-focus {
  -webkit-transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
  max-width: none;
  z-index: 100000;
  position: relative; }
  .img-focus:hover {
    cursor: pointer;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1); }

.eapps-link {
  display: none important; }

.nopadding {
  padding: 0 !important;
  margin: 0 !important; }

@font-face {
  font-family: 'TwCenMTStd-Bold';
  src: url("../fonts/TwCenMT/TwCenMTStd-Bold.otf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'gothamblack';
  src: url("../fonts/gotham-black-webfont.woff2") format("woff2"), url("../fonts/gotham-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'myriad-regular';
  src: url("../fonts/MyriadPro-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.ttf") format("truetype"), url("../fonts/MyriadPro-Regular.svg#svgFontName") format("svg");
  /* Legacy iOS */ }
body {
  overflow-x: hidden;
  background-color: #ffffff; }

.menu-tablet {
  position: absolute;
  left: 0px;
  right: 0px; }
  @media (max-width: 767px) {
    .menu-tablet {
      display: none; } }
  .menu-tablet .menu-conteudo-tablet {
    margin-top: 48px;
    float: right; }
  .menu-tablet ul li {
    display: inline-block;
    padding: 3px 5px 3px 5px; }
    .menu-tablet ul li a {
      width: 421px;
      height: 16px;
      font-family: 'Comfortaa-Regular';
      font-size: 17px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #fff;
      text-decoration: none; }
      .menu-tablet ul li a:hover {
        border-bottom: 4px solid #ddd; }
  .menu-tablet .divBusca-top .lupa1 {
    font-size: 20px;
    background-image: url(../img/lupa.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    background-color: transparent;
    height: 18px;
    width: 30px;
    border: none; }
  .menu-tablet .divBusca-top input[type='text'] {
    border: none;
    width: 100px;
    border-bottom: 2px solid #fff;
    background-color: transparent; }

.menu-fixo {
  display: none;
  position: fixed;
  width: 100%;
  background-color: #00354d;
  z-index: 100100;
  -webkit-box-shadow: 0px 10px 4px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 4px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 4px -10px rgba(0, 0, 0, 0.75); }
  .menu-fixo:hover {
    opacity: 1; }
  .menu-fixo .barra-superior {
    background-color: #2d2d2d; }
    .menu-fixo .barra-superior .traco {
      border-right: 2px solid #707070;
      width: 100%;
      height: 50px; }
    .menu-fixo .barra-superior img.wpp {
      width: 13%;
      padding: 10px 0px;
      float: right; }
    .menu-fixo .barra-superior img.redes {
      width: 24%;
      float: right;
      padding: 10px 0px;
      margin: 0px 33px; }
    .menu-fixo .barra-superior .fb {
      width: 5%;
      float: right;
      margin: 10px 20px 0px 20px; }
    .menu-fixo .barra-superior .inst {
      width: 10%;
      float: right;
      margin: 10px 10px 0px 20px; }
    .menu-fixo .barra-superior p {
      font-family: 'DIN-Bold';
      font-size: 16.5px;
      color: #e6e6e6;
      letter-spacing: 1px;
      margin: 13px 10px;
      float: right; }
  .menu-fixo .topo .logo img {
    margin: 13px 17px;
    width: 107px;
    height: 47px; }
    @media (min-width: 768px) and (max-width: 1199px) {
      .menu-fixo .topo .logo img {
        width: 65%;
        padding: 7px; } }
  .menu-fixo .topo .barra-icons {
    margin: 10px 0px;
    padding: 20px 10px;
    border-right: 1px solid #898989;
    border-left: 1px solid #898989; }
    .menu-fixo .topo .barra-icons img {
      float: left;
      margin-right: 11px; }
  .menu-fixo .topo ul {
    margin-top: 26px;
    float: left; }
    .menu-fixo .topo ul li {
      display: inline-block;
      padding: 3px 5px 3px 5px;
      margin: 0px 12px; }
      .menu-fixo .topo ul li .drop a {
        font-family: 'TwCenMTStd-Bold';
        font-size: 28px;
        letter-spacing: 1.4px;
        text-transform: uppercase;
        text-align: left;
        color: #313131;
        text-decoration: none; }
        .menu-fixo .topo ul li .drop a:hover {
          border-bottom: 1px solid #ddd; }
      .menu-fixo .topo ul li .drop .dropdown-menu {
        text-align: center;
        left: -50px; }
      .menu-fixo .topo ul li a {
        font-family: 'tahoma';
        font-size: 13px;
        text-transform: uppercase;
        text-align: left;
        color: #ffffff;
        text-decoration: none;
        font-weight: bold; }
  @media (max-width: 767px) {
    .menu-fixo {
      display: none !important; } }

.top-mob {
  text-align: center;
  display: none;
  text-align: center;
  position: fixed;
  text-align: center;
  width: 100%;
  background-color: #00354d;
  z-index: 10000000000;
  padding: 10px;
  box-shadow: -1px 2px 20px 0px #b7b7b7; }
  .top-mob img {
    display: inline-block; }
  @media (max-width: 767px) {
    .top-mob {
      display: block;
      text-align: center; } }
  @media (min-width: 768px) and (max-width: 1199px) {
    .top-mob {
      display: block;
      text-align: center; } }

@media (max-width: 767px) {
  .logo-mobile {
    position: fixed;
    left: -500px;
    height: auto;
    bottom: 0px;
    right: auto;
    top: 0px;
    width: 100%;
    background-color: #00354d;
    z-index: 100000000;
    text-align: center;
    padding: 10px; }
    .logo-mobile .espaco img {
      width: 37%; } }
.logo-mobile .itens {
  z-index: 999;
  text-align: center;
  overflow: hidden;
  display: none; }
  @media (max-width: 767px) {
    .logo-mobile .itens {
      display: block;
      text-align: center; } }
  @media (min-width: 768px) and (max-width: 1199px) {
    .logo-mobile .itens {
      display: block;
      text-align: center; } }
  .logo-mobile .itens ul {
    padding: 60px 0px; }
    .logo-mobile .itens ul li {
      padding: 8px 0px 8px 0px;
      list-style: none;
      text-decoration: none;
      width: 100%;
      text-align: center; }
      .logo-mobile .itens ul li a {
        font-family: 'tahoma';
        font-size: 22px;
        color: #ffffff;
        text-transform: uppercase;
        text-decoration: none; }
        .logo-mobile .itens ul li a:hover {
          border-bottom: 2px solid #ddd; }
    .logo-mobile .itens ul p {
      font-family: 'Lato', sans-serif;
      color: #fff;
      text-align: left;
      font-size: 20px;
      white-space: nowrap;
      text-align: center; }
  .logo-mobile .itens .site {
    padding-top: 30px;
    padding-bottom: 10px;
    color: #c9b5e0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px; }
    .logo-mobile .itens .site a {
      color: #c9b5e0;
      font-family: 'Ubuntu', sans-serif;
      font-size: 15px; }
    .logo-mobile .itens .site p {
      color: #c9b5e0;
      font-family: 'Ubuntu', sans-serif;
      font-size: 16px; }
  .logo-mobile .itens .dados-rodape {
    border-top: 1px solid #fff;
    padding-top: 10px;
    text-align: center; }
    .logo-mobile .itens .dados-rodape a {
      color: #fff;
      font-family: 'Muli', sans-serif;
      font-size: 16px; }
    .logo-mobile .itens .dados-rodape img {
      padding: 0px; }

.menu-mobile {
  display: none;
  padding-top: 20px; }
  @media (max-width: 767px) {
    .menu-mobile {
      display: block;
      background-image: url(../img/menu-mobile.png);
      width: 30px;
      height: 30px;
      position: fixed;
      top: 14px;
      left: 15px;
      z-index: 1000000000000;
      background-repeat: no-repeat;
      background-size: cover; } }

.menu {
  left: 0px;
  right: 0px;
  z-index: 110000000000;
  background-color: #00354d; }
  .menu .logo-menu {
    margin-top: 20px;
    width: 107px;
    height: 47px; }
    @media (min-width: 768px) and (max-width: 1199px) {
      .menu .logo-menu {
        width: 66%; } }
  .menu .barra-superior {
    background-color: #2d2d2d;
    padding: 15px; }
    .menu .barra-superior .traco {
      border-right: 2px solid #707070;
      width: 100%;
      height: 50px; }
    .menu .barra-superior img.wpp {
      width: 13%;
      padding: 10px 0px;
      float: right; }
    .menu .barra-superior img.redes {
      width: 24%;
      float: right;
      padding: 10px 0px;
      margin: 0px 33px; }
    .menu .barra-superior .fb {
      width: 5%;
      float: right;
      margin: 10px 20px 0px 20px; }
    .menu .barra-superior .inst {
      width: 10%;
      float: right;
      margin: 10px 10px 0px 20px; }
    .menu .barra-superior p {
      font-family: 'DIN-Bold';
      font-size: 16.5px;
      color: #e6e6e6;
      letter-spacing: 1px;
      margin: 13px 10px;
      float: right; }
  .menu .altura-menu {
    padding: 28px 0px; }
    .menu .altura-menu .logo-menu {
      margin: 13px 17px;
      width: 107px;
      height: 47px; }
      @media (min-width: 768px) and (max-width: 1199px) {
        .menu .altura-menu .logo-menu {
          width: 66%; } }
    @media (max-width: 767px) {
      .menu .altura-menu {
        display: none; } }
    .menu .altura-menu ul.menu-conteudo {
      margin-top: 27px;
      float: left; }
      .menu .altura-menu ul.menu-conteudo li {
        display: inline-block;
        padding: 3px 5px 3px 5px;
        margin: 0px 13px; }
        .menu .altura-menu ul.menu-conteudo li a {
          font-family: 'tahoma';
          font-size: 13px;
          text-transform: uppercase;
          text-align: left;
          color: #ffffff;
          text-decoration: none;
          font-weight: bold; }
        .menu .altura-menu ul.menu-conteudo li .dropdown-menu {
          text-align: center;
          left: -50px; }
  .menu .barra-icons {
    margin: 10px 0px;
    padding: 20px 10px;
    border-right: 1px solid #898989;
    border-left: 1px solid #898989; }
    .menu .barra-icons img {
      float: left;
      margin-right: 11px; }
  .menu .divBusca-top .lupa1 {
    font-size: 20px;
    background-image: url(../img/lupa.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    background-color: transparent;
    height: 18px;
    width: 30px;
    border: none; }
  .menu .divBusca-top input[type='text'] {
    border: none;
    width: 100px;
    border-bottom: 2px solid #fff;
    background-color: transparent; }

.banner_home {
  height: 537px;
  background-image: url("../img/banner_home.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  @media (max-width: 767px) {
    .banner_home {
      background-size: cover; } }
  .banner_home .central_logo {
    text-align: center;
    padding-top: 230px; }
    @media (max-width: 767px) {
      .banner_home .central_logo img {
        width: 70%;
        height: 70%; } }
  .banner_home .swiper-container-banner {
    height: 50px;
    width: 100%;
    overflow: hidden; }
  .banner_home .swiper-pagination {
    color: white !important; }
  .banner_home .swiper-pagination-bullet-active {
    background-color: white !important; }
  .banner_home .swiper-slide {
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; }
  .banner_home h1 {
    text-align: center; }
    .banner_home h1 span {
      display: inline-block;
      font-family: 'gothamblack';
      font-size: 17px;
      text-transform: uppercase;
      color: #ffffff;
      background-color: rgba(0, 53, 77, 0.4);
      padding: 8px 19px; }
      @media (max-width: 767px) {
        .banner_home h1 span {
          font-size: 15px;
          padding: 8px 15px; } }

.banner_patrimonial {
  height: 537px;
  background-image: url("../img/AdvocaciaPatrimonial.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  @media (max-width: 767px) {
    .banner_patrimonial {
      background-size: auto 100%;
      background-position: center center; } }
  .banner_patrimonial h1 {
    text-align: center;
    margin-top: 250px; }
    .banner_patrimonial h1 span {
      display: inline-block;
      font-family: 'gothamblack';
      font-size: 34px;
      text-transform: uppercase;
      color: #ffffff;
      background-color: rgba(0, 53, 77, 0.4);
      padding: 8px 19px; }

.banner_nosso_time {
  height: 537px;
  background-image: url("../img/AdvocaciaPatrimonial.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  @media (max-width: 767px) {
    .banner_nosso_time {
      background-size: auto 100%;
      background-position: center center; } }
  .banner_nosso_time h1 {
    text-align: center;
    margin-top: 250px; }
    .banner_nosso_time h1 span {
      display: inline-block;
      font-family: 'gothamblack';
      font-size: 34px;
      text-transform: uppercase;
      color: #ffffff;
      background-color: rgba(0, 53, 77, 0.4);
      padding: 8px 19px; }

.conteudo-interna {
  padding-top: 60px;
  padding-bottom: 60px; }
  @media (max-width: 767px) {
    .conteudo-interna {
      padding-top: 20px;
      padding-bottom: 20px; } }
  .conteudo-interna p {
    font-family: "Calibri";
    font-size: 16px;
    color: #464646;
    text-align: justify;
    line-height: 25px;
    margin-bottom: 25px; }
  .conteudo-interna .box_escritorio_interna {
    margin-bottom: 30px; }
    .conteudo-interna .box_escritorio_interna h2 {
      background-image: url("../img/hifen-azul.gif");
      background-repeat: no-repeat;
      background-position: top left;
      margin: 0px;
      padding: 0px;
      padding-top: 15px;
      font-family: 'tahoma';
      font-size: 25px;
      color: #313131;
      margin-bottom: 40px;
      text-transform: uppercase; }
    .conteudo-interna .box_escritorio_interna p {
      font-family: "Calibri";
      font-size: 16px;
      color: #464646;
      text-align: justify;
      line-height: 25px; }
      .conteudo-interna .box_escritorio_interna p img {
        margin: 2px 2px 2px 2px; }

.contato_interna {
  background-color: #ffffff;
  padding: 0px 0px;
  padding-bottom: 60px; }
  @media (max-width: 767px) {
    .contato_interna {
      padding-left: 20px; } }
  .contato_interna .label_form {
    font-family: 'Calibri';
    font-size: 15px;
    color: #313131;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5px; }
  .contato_interna .campo_form input[type='text'] {
    width: 90%;
    font-family: 'Calibri';
    font-size: 15px;
    background-color: #e1e1e1;
    padding: 2px 8px;
    margin-bottom: 5px;
    border: 1px solid #e1e1e1; }
  .contato_interna .campo_form textarea {
    font-family: 'Calibri';
    font-size: 15px;
    width: 90%;
    background-color: #e1e1e1;
    padding: 2px 8px;
    margin-bottom: 5px;
    border: 1px solid #e1e1e1;
    height: 194px; }
  .contato_interna .campo_form input[type='reset'] {
    font-family: 'Calibri';
    text-transform: uppercase;
    color: #ffffff;
    font-size: 15px;
    background-color: #313131;
    padding: 6px 23px;
    display: inline-block;
    border: none;
    float: right;
    margin-right: 10px; }
  .contato_interna .campo_form input[type='submit'] {
    font-family: 'Calibri';
    text-transform: uppercase;
    color: #ffffff;
    font-size: 15px;
    background-color: #313131;
    padding: 6px 23px;
    display: inline-block;
    border: none;
    float: right;
    margin-right: 60px; }
  .contato_interna h2 {
    margin: 0px;
    padding: 0px;
    padding-top: 15px;
    background-image: url("../img/bg_h2_azul.gif");
    background-repeat: no-repeat;
    background-position: left top;
    font-family: 'metropolisregular';
    font-size: 24.97px;
    color: #2d2d2d;
    margin-bottom: 60px;
    text-transform: uppercase; }
  .contato_interna .artigo {
    background-color: #f6f6f6;
    text-align: center;
    height: 463px; }
    .contato_interna .artigo .preco {
      font-family: 'GOTHAM-BLACK';
      font-size: 25px;
      color: #0283bf;
      text-transform: uppercase; }
      .contato_interna .artigo .preco span {
        font-size: 12.5px; }
    .contato_interna .artigo .img_artigo {
      text-align: center; }
    .contato_interna .artigo h3 {
      font-family: 'GOTHAM-BLACK';
      font-size: 12.5px;
      color: #313131;
      text-transform: uppercase; }
    .contato_interna .artigo p {
      font-family: 'Calibri';
      font-size: 10,42px;
      color: #313131;
      text-align: center;
      height: 45px; }
    .contato_interna .artigo a {
      display: inline-block;
      font-family: 'd-din_condenseddinCnBd';
      font-size: 10px;
      color: #ffffff;
      text-transform: uppercase;
      background-color: #2d4a45;
      padding: 9px 54px;
      text-transform: uppercase;
      text-decoration: none;
      margin-top: 20px; }
      .contato_interna .artigo a:hover {
        color: #2d4a45;
        background-color: #ffffff; }
    .contato_interna .artigo .coment_bar {
      width: 90%;
      margin-top: 30px;
      border-top: 1px dotted #b3b3b3;
      padding-top: 10px; }
      .contato_interna .artigo .coment_bar span {
        font-family: 'd-din_condensedregular';
        font-size: 11px;
        color: #a9a9a9;
        display: inline-block;
        padding-top: 5px;
        padding-right: 15px; }

.menu-interna {
  /*
  height: 1200px;

  min-height: 400px;
*/ }
  .menu-interna .margen_cinza {
    background-color: #f0f0f0;
    height: 100%;
    margin-top: 30px; }
  .menu-interna .equipe_atuacao h3 {
    background-image: url("../img/hifen-azul.gif");
    background-repeat: no-repeat;
    background-position: top left;
    padding: 28px 0px;
    font-family: "tahoma";
    font-size: 25px;
    color: #313131;
    text-transform: uppercase;
    line-height: 38px;
    margin-top: 45px; }
  .menu-interna .equipe_atuacao .equipe {
    text-align: center; }
    .menu-interna .equipe_atuacao .equipe .membro {
      width: 210px;
      min-height: 264px;
      background-color: #262626;
      padding-bottom: 20px;
      border-radius: 0px 0px 0px 20px;
      float: left;
      margin-right: 11px;
      margin-bottom: 30px; }
      @media (max-width: 767px) {
        .menu-interna .equipe_atuacao .equipe .membro {
          margin-left: 73px; } }
      .menu-interna .equipe_atuacao .equipe .membro h4 {
        margin-top: 15px;
        font-family: "Calibri";
        font-size: 13px;
        color: #ffffff;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center; }
      .menu-interna .equipe_atuacao .equipe .membro .carta {
        display: inline-block;
        width: 24px;
        height: 23px;
        background-image: url("../img/icon_equipe_email_branco.png");
        background-position: center 10px;
        background-repeat: no-repeat;
        padding: 18px 20px;
        text-decoration: none;
        border-right: 1px solid #767676; }
      .menu-interna .equipe_atuacao .equipe .membro .linkedin {
        display: inline-block;
        width: 24px;
        height: 23px;
        background-image: url("../img/icon_equipe_linkedin_branco.png");
        background-position: center;
        background-repeat: no-repeat;
        padding: 18px 20px;
        text-decoration: none; }
      .menu-interna .equipe_atuacao .equipe .membro:hover {
        background-color: #ffffff; }
        .menu-interna .equipe_atuacao .equipe .membro:hover h4 {
          margin-top: 15px;
          font-family: "Calibri";
          font-size: 13px;
          color: #00354d;
          text-transform: uppercase;
          font-weight: bold;
          text-align: center; }
        .menu-interna .equipe_atuacao .equipe .membro:hover .carta {
          display: inline-block;
          width: 24px;
          height: 23px;
          background-image: url("../img/icon_equipe_email_azul.png");
          background-position: center 10px;
          background-repeat: no-repeat;
          padding: 18px 20px;
          text-decoration: none;
          border-right: 1px solid #01354d; }
        .menu-interna .equipe_atuacao .equipe .membro:hover .linkedin {
          display: inline-block;
          width: 24px;
          height: 23px;
          background-image: url("../img/icon_equipe_linkedin_azul.png");
          background-position: center;
          background-repeat: no-repeat;
          padding: 18px 20px;
          text-decoration: none; }
      .menu-interna .equipe_atuacao .equipe .membro:last-child {
        margin-right: 0px; }
    .menu-interna .equipe_atuacao .equipe .membro2 {
      width: 210px;
      min-height: 264px;
      background-color: #4c4c4c;
      padding-bottom: 20px;
      border-radius: 0px 0px 0px 20px;
      float: left;
      margin-right: 11px;
      margin-bottom: 30px; }
      @media (max-width: 767px) {
        .menu-interna .equipe_atuacao .equipe .membro2 {
          margin-left: 73px; } }
      .menu-interna .equipe_atuacao .equipe .membro2 h4 {
        margin-top: 15px;
        font-family: "Calibri";
        font-size: 13px;
        color: #ffffff;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center; }
      .menu-interna .equipe_atuacao .equipe .membro2 .carta {
        display: inline-block;
        width: 24px;
        height: 23px;
        background-image: url("../img/icon_equipe_email_branco.png");
        background-position: center 10px;
        background-repeat: no-repeat;
        padding: 18px 20px;
        text-decoration: none;
        border-right: 1px solid #767676; }
      .menu-interna .equipe_atuacao .equipe .membro2 .linkedin {
        display: inline-block;
        width: 24px;
        height: 23px;
        background-image: url("../img/icon_equipe_linkedin_branco.png");
        background-position: center;
        background-repeat: no-repeat;
        padding: 18px 20px;
        text-decoration: none; }
      .menu-interna .equipe_atuacao .equipe .membro2:hover {
        background-color: #ffffff; }
        .menu-interna .equipe_atuacao .equipe .membro2:hover h4 {
          margin-top: 15px;
          font-family: "Calibri";
          font-size: 13px;
          color: #00354d;
          text-transform: uppercase;
          font-weight: bold;
          text-align: center; }
        .menu-interna .equipe_atuacao .equipe .membro2:hover .carta {
          display: inline-block;
          width: 24px;
          height: 23px;
          background-image: url("../img/icon_equipe_email_azul.png");
          background-position: center 10px;
          background-repeat: no-repeat;
          padding: 18px 20px;
          text-decoration: none;
          border-right: 1px solid #01354d; }
        .menu-interna .equipe_atuacao .equipe .membro2:hover .linkedin {
          display: inline-block;
          width: 24px;
          height: 23px;
          background-image: url("../img/icon_equipe_linkedin_azul.png");
          background-position: center;
          background-repeat: no-repeat;
          padding: 18px 20px;
          text-decoration: none; }
      .menu-interna .equipe_atuacao .equipe .membro2:last-child {
        margin-right: 0px; }
  .menu-interna .equipe_atuacao .membro3 {
    width: 210px;
    min-height: 264px;
    background-color: #818181;
    padding-bottom: 20px;
    border-radius: 0px 0px 0px 20px;
    float: left;
    margin-right: 11px;
    margin-bottom: 30px; }
    @media (max-width: 767px) {
      .menu-interna .equipe_atuacao .membro3 {
        margin-left: 73px; } }
    .menu-interna .equipe_atuacao .membro3 h4 {
      margin-top: 15px;
      font-family: "Calibri";
      font-size: 13px;
      color: #ffffff;
      text-transform: uppercase;
      font-weight: bold;
      text-align: center; }
    .menu-interna .equipe_atuacao .membro3 .carta {
      display: inline-block;
      width: 24px;
      height: 23px;
      background-image: url("../img/icon_equipe_email_branco.png");
      background-position: center 10px;
      background-repeat: no-repeat;
      padding: 18px 20px;
      text-decoration: none;
      border-right: 1px solid #767676; }
    .menu-interna .equipe_atuacao .membro3 .linkedin {
      display: inline-block;
      width: 24px;
      height: 23px;
      background-image: url("../img/icon_equipe_linkedin_branco.png");
      background-position: center;
      background-repeat: no-repeat;
      padding: 18px 20px;
      text-decoration: none; }
    .menu-interna .equipe_atuacao .membro3:hover {
      background-color: #ffffff; }
      .menu-interna .equipe_atuacao .membro3:hover h4 {
        margin-top: 15px;
        font-family: "Calibri";
        font-size: 13px;
        color: #00354d;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center; }
      .menu-interna .equipe_atuacao .membro3:hover .carta {
        display: inline-block;
        width: 24px;
        height: 23px;
        background-image: url("../img/icon_equipe_email_azul.png");
        background-position: center 10px;
        background-repeat: no-repeat;
        padding: 18px 20px;
        text-decoration: none;
        border-right: 1px solid #01354d; }
      .menu-interna .equipe_atuacao .membro3:hover .linkedin {
        display: inline-block;
        width: 24px;
        height: 23px;
        background-image: url("../img/icon_equipe_linkedin_azul.png");
        background-position: center;
        background-repeat: no-repeat;
        padding: 18px 20px;
        text-decoration: none; }
    .menu-interna .equipe_atuacao .membro3:last-child {
      margin-right: 0px; }
  .menu-interna .central {
    height: 100%; }
    .menu-interna .central .coluna_menu {
      margin-top: 30px;
      background-color: #f0f0f0;
      height: 100%; }
      .menu-interna .central .coluna_menu .menu-estrutura-interna {
        margin-top: 30px;
        background-color: #e5e5e5;
        margin: 0px;
        padding: 10px; }
        .menu-interna .central .coluna_menu .menu-estrutura-interna li {
          display: block;
          clear: both;
          height: 80px; }
          .menu-interna .central .coluna_menu .menu-estrutura-interna li a {
            display: block;
            text-transform: none; }
            .menu-interna .central .coluna_menu .menu-estrutura-interna li a img {
              float: left;
              margin: 5px 10px; }
            .menu-interna .central .coluna_menu .menu-estrutura-interna li a p {
              font-family: "Calibri";
              font-size: 14px;
              color: #013148;
              text-transform: uppercase;
              font-weight: bold;
              padding-top: 10px; }
    .menu-interna .central .conteudo-menu {
      margin-top: 30px;
      padding-right: 0px; }
      @media (max-width: 767px) {
        .menu-interna .central .conteudo-menu {
          padding-right: 15px; } }
      .menu-interna .central .conteudo-menu h2 {
        background-image: url("../img/hifen-azul.gif");
        background-repeat: no-repeat;
        background-position: top left;
        padding: 28px 0px;
        font-family: 'gothamblack';
        font-size: 38px;
        color: #00354d;
        text-transform: uppercase;
        margin-top: 0px; }
        .menu-interna .central .conteudo-menu h2 span {
          font-family: "tahoma";
          font-size: 38px;
          color: #313131;
          text-transform: uppercase;
          line-height: 38px; }
      .menu-interna .central .conteudo-menu h3 {
        background-image: url("../img/hifen-azul.gif");
        background-repeat: no-repeat;
        background-position: top left;
        padding: 28px 0px;
        font-family: "tahoma";
        font-size: 25px;
        color: #313131;
        text-transform: uppercase;
        line-height: 38px;
        margin-top: 45px; }
      .menu-interna .central .conteudo-menu .subtitulo-interno {
        font-family: "Calibri";
        font-size: 22px;
        color: #1b1b1b;
        width: 100%;
        padding-bottom: 20px;
        border-bottom: 1px solid #e4e4e4; }
      .menu-interna .central .conteudo-menu .texto-menu-interno p {
        font-family: "Calibri";
        font-size: 15px;
        color: #464646;
        text-align: justify;
        margin-bottom: 20px; }
      @media (max-width: 767px) {
        .menu-interna .central .conteudo-menu .texto-menu-interno {
          padding: 0px 24px; } }

.equipe_interno .icon_mobile a {
  display: inline-block;
  font-family: "Tahoma";
  font-size: 12px;
  color: #03354c;
  float: right;
  padding: 6px 12px;
  text-decoration: none; }
  .equipe_interno .icon_mobile a img {
    margin-top: -2px; }
  .equipe_interno .icon_mobile a span {
    font-weight: bolder; }
@media (max-width: 767px) {
  .equipe_interno .foto {
    padding-top: 53px !important; } }
.equipe_interno .foto .h1_mobile {
  font-family: 'gothamblack';
  font-size: 30px;
  color: #00354d;
  text-transform: uppercase;
  margin-left: 40px;
  margin-top: 60px;
  margin-bottom: 30px;
  text-align: center; }
  @media (max-width: 767px) {
    .equipe_interno .foto .h1_mobile {
      width: 85%; } }
.equipe_interno .foto .foto-perfil {
  width: 100%; }
.equipe_interno .foto .icon a {
  display: inline-block;
  font-family: "Tahoma";
  font-size: 12px;
  color: #03354c;
  float: right;
  padding: 6px 12px;
  text-decoration: none; }
  .equipe_interno .foto .icon a img {
    margin-top: -2px; }
  .equipe_interno .foto .icon a span {
    font-weight: bolder; }
.equipe_interno .dados {
  overflow: hidden;
  min-height: 676px;
  padding-bottom: 70px !important;
  background-color: #e5e5e5;
  margin-bottom: 50px !important; }
  @media (max-width: 767px) {
    .equipe_interno .dados {
      padding-top: 20px !important; } }
  .equipe_interno .dados h1 {
    font-family: 'gothamblack';
    font-size: 30px;
    color: #00354d;
    text-transform: uppercase;
    margin-left: 40px;
    margin-top: 60px;
    margin-bottom: 30px; }
    @media (max-width: 767px) {
      .equipe_interno .dados h1 {
        width: 85%; } }
  .equipe_interno .dados .social {
    display: inline-block;
    background-color: #00354d;
    padding: 10px 30px;
    border-radius: 0px 15px 0px 0px; }
    .equipe_interno .dados .social img {
      margin: 5px; }
  .equipe_interno .dados .infos {
    margin-left: 40px;
    margin-top: 40px; }
    .equipe_interno .dados .infos h2 {
      font-family: "Calibri";
      font-size: 15px;
      color: #464646;
      text-transform: uppercase;
      border-bottom: 1px solid #959595;
      padding-bottom: 10px;
      font-weight: bold; }
    .equipe_interno .dados .infos p {
      font-family: "Calibri";
      font-size: 15px;
      color: #464646;
      padding-right: 30px; }
    .equipe_interno .dados .infos .txt_atuacao {
      display: block;
      text-decoration: none;
      font-family: "Calibri";
      font-size: 15px;
      color: #464646;
      margin-top: 10px;
      margin-bottom: 10px;
      text-transform: capitalize; }
      .equipe_interno .dados .infos .txt_atuacao img {
        margin-right: 15px; }
      @media (max-width: 767px) {
        .equipe_interno .dados .infos .txt_atuacao {
          font-size: 15px;
          padding-right: 15px;
          height: 64px; }
          .equipe_interno .dados .infos .txt_atuacao img {
            margin-bottom: 15px;
            float: left; }
          .equipe_interno .dados .infos .txt_atuacao span {
            display: inline-block;
            float: left;
            width: 79%; } }
.equipe_interno .texto-equipe {
  padding-top: 60px;
  padding-bottom: 60px; }
  .equipe_interno .texto-equipe p {
    text-align: justify;
    font-family: "Calibri";
    font-size: 15px;
    color: #464646;
    line-height: 25px; }

.quemsomos_home {
  padding: 60px 0px;
  border-bottom: 1px solid #e4e4e4; }
  @media (max-width: 767px) {
    .quemsomos_home {
      padding: 16px 0px;
      height: 974px; } }
  .quemsomos_home .swiper-container-escritorio {
    width: 100%;
    height: 100%; }
  .quemsomos_home .swiper-slide {
    background: #fff;
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; }
    .quemsomos_home .swiper-slide .conteudo_quemsomso {
      height: 337px; }
      @media (max-width: 767px) {
        .quemsomos_home .swiper-slide .conteudo_quemsomso {
          height: 450px; } }
      .quemsomos_home .swiper-slide .conteudo_quemsomso h2 {
        font-family: 'gothamblack';
        font-size: 38px;
        color: #00354d;
        text-transform: uppercase;
        margin-top: 0px; }
      .quemsomos_home .swiper-slide .conteudo_quemsomso h3 {
        font-family: "tahoma";
        font-size: 21px;
        color: #313131;
        text-transform: uppercase;
        margin-bottom: 30px; }
      .quemsomos_home .swiper-slide .conteudo_quemsomso p {
        font-family: "Calibri";
        font-size: 16px;
        color: #464646;
        text-align: justify;
        line-height: 25px; }
      .quemsomos_home .swiper-slide .conteudo_quemsomso img {
        margin: 3px 10px; }
  .quemsomos_home .swiper-pagination-escritorio {
    position: absolute;
    top: 450px;
    right: 10px;
    width: auto !important;
    left: auto !important;
    margin-left: 5; }
    @media (max-width: 767px) {
      .quemsomos_home .swiper-pagination-escritorio {
        top: 516px; } }
    .quemsomos_home .swiper-pagination-escritorio .swiper-pagination-bullet {
      padding: 0px 15px;
      border-radius: 0;
      width: auto;
      height: 30px;
      text-align: center;
      line-height: 30px;
      font-size: 12px;
      color: #000;
      opacity: 1;
      background-color: #ffffff;
      border: 1px solid #939090;
      font-family: "tahoma";
      font-size: 10px;
      color: #313131;
      text-transform: uppercase; }
    .quemsomos_home .swiper-pagination-escritorio .swiper-pagination-bullet-active {
      color: #fff;
      background: #00354d; }
  .quemsomos_home .icon_logo {
    text-align: center; }
    @media (max-width: 767px) {
      .quemsomos_home .icon_logo img {
        height: 180px;
        margin-bottom: 25px; } }
  .quemsomos_home .menu_quem_somos {
    float: right;
    margin-top: 45px; }
    @media (max-width: 767px) {
      .quemsomos_home .menu_quem_somos {
        padding: 0px;
        margin: 0px;
        margin-top: 20px;
        margin-left: -10px; } }
    .quemsomos_home .menu_quem_somos li {
      display: inline-block; }
      .quemsomos_home .menu_quem_somos li a {
        border: 1px solid #939090;
        padding: 10px 20px 10px 20px;
        font-family: "tahoma";
        font-size: 10px;
        color: #313131;
        text-transform: uppercase;
        text-decoration: none; }
        .quemsomos_home .menu_quem_somos li a:hover {
          padding: 15px 20px 10px 20px; }
      .quemsomos_home .menu_quem_somos li .aseleted {
        border: 1px solid #939090;
        padding: 15px 20px 10px 20px;
        font-family: "tahoma";
        font-size: 10px;
        color: #313131;
        text-transform: uppercase;
        text-decoration: none; }
        .quemsomos_home .menu_quem_somos li .aseleted:hover {
          padding: 15px 20px 10px 20px; }

.adv_patrimonial_home {
  padding-top: 60px;
  padding-bottom: 60px; }
  .adv_patrimonial_home h2 {
    background-image: url("../img/hifen-azul.gif");
    background-repeat: no-repeat;
    background-position: top left;
    padding: 28px 0px;
    font-family: 'gothamblack';
    font-size: 38px;
    color: #00354d;
    text-transform: uppercase;
    margin-top: 0px; }
    .adv_patrimonial_home h2 span {
      font-family: "tahoma";
      font-size: 38px;
      color: #313131;
      text-transform: uppercase;
      line-height: 38px; }
  .adv_patrimonial_home .linha_tempo_mobile {
    text-align: center; }
  .adv_patrimonial_home .linha_tempo {
    width: 921px;
    height: 400px;
    background-image: url("../img/linha_tempo91.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0 auto; }
    @media (max-width: 767px) {
      .adv_patrimonial_home .linha_tempo {
        display: none; } }
    .adv_patrimonial_home .linha_tempo .bolinha01 {
      display: block;
      float: left;
      position: relative;
      top: 131px;
      left: 78px; }
      .adv_patrimonial_home .linha_tempo .bolinha01 img {
        width: 48px;
        height: 57px; }
    .adv_patrimonial_home .linha_tempo .bolinha02 {
      display: block;
      float: left;
      position: relative;
      top: 131px;
      left: 507px; }
      .adv_patrimonial_home .linha_tempo .bolinha02 img {
        width: 48px;
        height: 57px; }
    .adv_patrimonial_home .linha_tempo .bolinha03 {
      display: block;
      float: left;
      position: relative;
      top: 241px;
      left: 223px; }
      .adv_patrimonial_home .linha_tempo .bolinha03 img {
        transform: rotate(180deg);
        /* Equal to rotateZ(45deg) */ }
    .adv_patrimonial_home .linha_tempo .bolinha04 {
      display: block;
      float: left;
      position: relative;
      top: 241px;
      left: 630px; }
      .adv_patrimonial_home .linha_tempo .bolinha04 img {
        transform: rotate(180deg);
        /* Equal to rotateZ(45deg) */ }
  .adv_patrimonial_home .center_img {
    display: none;
    text-align: center; }
    @media (max-width: 767px) {
      .adv_patrimonial_home .center_img {
        display: block; } }
    .adv_patrimonial_home .center_img img {
      text-align: center;
      margin: 0 auto; }

.area_atuacao_home {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../img/bg_textura.jpg");
  background-color: #00354d;
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover; }
  .area_atuacao_home h2 {
    background-image: url("../img/hifen-branco.gif");
    background-repeat: no-repeat;
    background-position: top left;
    padding: 28px 0px;
    font-family: 'gothamblack';
    font-size: 38px;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 0px; }
    .area_atuacao_home h2 span {
      font-family: "tahoma";
      font-size: 38px;
      color: #ffffff;
      text-transform: uppercase;
      line-height: 38px; }
  .area_atuacao_home .icons .icon {
    text-align: center;
    margin-bottom: 40px;
    height: 170px; }
    .area_atuacao_home .icons .icon a {
      display: block;
      text-align: center;
      font-family: "Calibri";
      font-size: 15px;
      text-transform: uppercase;
      color: #ffffff;
      font-weight: bold;
      padding: 0px 10px;
      text-decoration: none;
      line-height: 18px; }
      @media (max-width: 767px) {
        .area_atuacao_home .icons .icon a {
          font-size: 13px; } }
      .area_atuacao_home .icons .icon a img {
        display: block;
        margin: 0 auto;
        margin-bottom: 15px; }
        @media (max-width: 767px) {
          .area_atuacao_home .icons .icon a img {
            width: 72px;
            height: 74px; } }

.onde_atuamos_home {
  padding-top: 60px;
  padding-bottom: 60px; }
  .onde_atuamos_home h2 {
    background-image: url("../img/hifen-azul.gif");
    background-repeat: no-repeat;
    background-position: top left;
    padding: 28px 0px;
    font-family: 'gothamblack';
    font-size: 38px;
    color: #00354d;
    text-transform: uppercase;
    margin-top: 0px; }
    .onde_atuamos_home h2 span {
      font-family: "tahoma";
      font-size: 38px;
      color: #313131;
      text-transform: uppercase;
      line-height: 38px; }
  .onde_atuamos_home .abrangencia h3 {
    font-family: 'myriad-regular';
    font-size: 21px;
    padding-left: 17px;
    text-transform: uppercase;
    color: #000000;
    font-weight: bold; }
  .onde_atuamos_home .abrangencia .box {
    background-image: url("../img/bg_box.jpg");
    background-repeat: no-repeat;
    background-position: top left;
    width: 324px;
    height: 175px;
    font-family: "Calibri";
    font-size: 17px;
    color: #ffffff;
    line-height: 28px;
    text-align: justify;
    padding: 33px 20px 0px 19px;
    margin-bottom: 20px; }

.nosso_time_interna {
  padding-bottom: 60px;
  background-color: #ffffff; }
  .nosso_time_interna h2 {
    background-image: url("../img/hifen-azul.gif");
    background-repeat: no-repeat;
    background-position: top left;
    padding: 28px 0px;
    font-family: 'gothamblack';
    font-size: 38px;
    color: #00354d;
    text-transform: uppercase;
    margin-top: 0px; }
    .nosso_time_interna h2 span {
      font-family: "tahoma";
      font-size: 38px;
      color: #00354d;
      text-transform: uppercase;
      line-height: 38px; }
  .nosso_time_interna .equipe {
    text-align: center; }
    .nosso_time_interna .equipe .membro {
      width: 210px;
      min-height: 264px;
      background-color: #262626;
      padding-bottom: 20px;
      border-radius: 0px 0px 0px 20px;
      float: left;
      margin-right: 75px;
      margin-bottom: 30px; }
      @media (max-width: 767px) {
        .nosso_time_interna .equipe .membro {
          margin-left: 73px; } }
      .nosso_time_interna .equipe .membro h3 {
        margin-top: 15px;
        font-family: "Calibri";
        font-size: 13px;
        color: #ffffff;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center; }
      .nosso_time_interna .equipe .membro .carta {
        display: inline-block;
        width: 24px;
        height: 23px;
        background-image: url("../img/icon_equipe_email_branco.png");
        background-position: center 10px;
        background-repeat: no-repeat;
        padding: 18px 20px;
        text-decoration: none;
        border-right: 1px solid #767676; }
      .nosso_time_interna .equipe .membro .linkedin {
        display: inline-block;
        width: 24px;
        height: 23px;
        background-image: url("../img/icon_equipe_linkedin_branco.png");
        background-position: center;
        background-repeat: no-repeat;
        padding: 18px 20px;
        text-decoration: none; }
      .nosso_time_interna .equipe .membro:hover {
        background-color: #ffffff; }
        .nosso_time_interna .equipe .membro:hover h3 {
          margin-top: 15px;
          font-family: "Calibri";
          font-size: 13px;
          color: #00354d;
          text-transform: uppercase;
          font-weight: bold;
          text-align: center; }
        .nosso_time_interna .equipe .membro:hover .carta {
          display: inline-block;
          width: 24px;
          height: 23px;
          background-image: url("../img/icon_equipe_email_azul.png");
          background-position: center 10px;
          background-repeat: no-repeat;
          padding: 18px 20px;
          text-decoration: none;
          border-right: 1px solid #01354d; }
        .nosso_time_interna .equipe .membro:hover .linkedin {
          display: inline-block;
          width: 24px;
          height: 23px;
          background-image: url("../img/icon_equipe_linkedin_azul.png");
          background-position: center;
          background-repeat: no-repeat;
          padding: 18px 20px;
          text-decoration: none; }
      .nosso_time_interna .equipe .membro:last-child {
        margin-right: 0px; }
    .nosso_time_interna .equipe .membro2 {
      width: 210px;
      min-height: 264px;
      background-color: #4c4c4c;
      padding-bottom: 20px;
      border-radius: 0px 0px 0px 20px;
      float: left;
      margin-right: 75px;
      margin-bottom: 30px; }
      @media (max-width: 767px) {
        .nosso_time_interna .equipe .membro2 {
          margin-left: 73px; } }
      .nosso_time_interna .equipe .membro2 h3 {
        margin-top: 15px;
        font-family: "Calibri";
        font-size: 13px;
        color: #ffffff;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center; }
      .nosso_time_interna .equipe .membro2 .carta {
        display: inline-block;
        width: 24px;
        height: 23px;
        background-image: url("../img/icon_equipe_email_branco.png");
        background-position: center 10px;
        background-repeat: no-repeat;
        padding: 18px 20px;
        text-decoration: none;
        border-right: 1px solid #767676; }
      .nosso_time_interna .equipe .membro2 .linkedin {
        display: inline-block;
        width: 24px;
        height: 23px;
        background-image: url("../img/icon_equipe_linkedin_branco.png");
        background-position: center;
        background-repeat: no-repeat;
        padding: 18px 20px;
        text-decoration: none; }
      .nosso_time_interna .equipe .membro2:hover {
        background-color: #ffffff; }
        .nosso_time_interna .equipe .membro2:hover h3 {
          margin-top: 15px;
          font-family: "Calibri";
          font-size: 13px;
          color: #00354d;
          text-transform: uppercase;
          font-weight: bold;
          text-align: center; }
        .nosso_time_interna .equipe .membro2:hover .carta {
          display: inline-block;
          width: 24px;
          height: 23px;
          background-image: url("../img/icon_equipe_email_azul.png");
          background-position: center 10px;
          background-repeat: no-repeat;
          padding: 18px 20px;
          text-decoration: none;
          border-right: 1px solid #01354d; }
        .nosso_time_interna .equipe .membro2:hover .linkedin {
          display: inline-block;
          width: 24px;
          height: 23px;
          background-image: url("../img/icon_equipe_linkedin_azul.png");
          background-position: center;
          background-repeat: no-repeat;
          padding: 18px 20px;
          text-decoration: none; }
      .nosso_time_interna .equipe .membro2:last-child {
        margin-right: 0px; }
  .nosso_time_interna .membro3 {
    width: 210px;
    min-height: 264px;
    background-color: #818181;
    padding-bottom: 20px;
    border-radius: 0px 0px 0px 20px;
    float: left;
    margin-right: 75px;
    margin-bottom: 30px; }
    @media (max-width: 767px) {
      .nosso_time_interna .membro3 {
        margin-left: 73px; } }
    .nosso_time_interna .membro3 h3 {
      margin-top: 15px;
      font-family: "Calibri";
      font-size: 13px;
      color: #ffffff;
      text-transform: uppercase;
      font-weight: bold;
      text-align: center; }
    .nosso_time_interna .membro3 .carta {
      display: inline-block;
      width: 24px;
      height: 23px;
      background-image: url("../img/icon_equipe_email_branco.png");
      background-position: center 10px;
      background-repeat: no-repeat;
      padding: 18px 20px;
      text-decoration: none;
      border-right: 1px solid #767676; }
    .nosso_time_interna .membro3 .linkedin {
      display: inline-block;
      width: 24px;
      height: 23px;
      background-image: url("../img/icon_equipe_linkedin_branco.png");
      background-position: center;
      background-repeat: no-repeat;
      padding: 18px 20px;
      text-decoration: none; }
    .nosso_time_interna .membro3:hover {
      background-color: #ffffff; }
      .nosso_time_interna .membro3:hover h3 {
        margin-top: 15px;
        font-family: "Calibri";
        font-size: 13px;
        color: #00354d;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center; }
      .nosso_time_interna .membro3:hover .carta {
        display: inline-block;
        width: 24px;
        height: 23px;
        background-image: url("../img/icon_equipe_email_azul.png");
        background-position: center 10px;
        background-repeat: no-repeat;
        padding: 18px 20px;
        text-decoration: none;
        border-right: 1px solid #01354d; }
      .nosso_time_interna .membro3:hover .linkedin {
        display: inline-block;
        width: 24px;
        height: 23px;
        background-image: url("../img/icon_equipe_linkedin_azul.png");
        background-position: center;
        background-repeat: no-repeat;
        padding: 18px 20px;
        text-decoration: none; }
    .nosso_time_interna .membro3:last-child {
      margin-right: 0px; }

.nosso_time {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../img/bg_textura.jpg");
  background-color: #00354d;
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover; }
  .nosso_time h2 {
    background-image: url("../img/hifen-branco.gif");
    background-repeat: no-repeat;
    background-position: top left;
    padding: 28px 0px;
    font-family: 'gothamblack';
    font-size: 38px;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 0px; }
    .nosso_time h2 span {
      font-family: "tahoma";
      font-size: 38px;
      color: #ffffff;
      text-transform: uppercase;
      line-height: 38px; }
  .nosso_time .swiper-container-equipe {
    width: 100%;
    height: 100%;
    overflow: hidden; }
  .nosso_time .swiper-slide {
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; }
  .nosso_time .swiper-pagination-equipe {
    color: white !important; }
    .nosso_time .swiper-pagination-equipe .swiper-pagination-bullet-active {
      background-color: white !important; }
  .nosso_time .swiper-container-mobile {
    width: 290px;
    height: 364px;
    overflow: hidden; }
  .nosso_time .swiper-slide {
    text-align: center;
    font-size: 18px;
    width: 210px;
    height: 374px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; }
    .nosso_time .swiper-slide .membro {
      width: 210px !important;
      min-height: 264px;
      background-color: #262626;
      border-radius: 0px 0px 0px 20px;
      float: left;
      display: block; }
      .nosso_time .swiper-slide .membro h3 {
        margin-top: 15px;
        font-family: "Calibri";
        font-size: 13px;
        color: #ffffff;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center; }
      .nosso_time .swiper-slide .membro .carta {
        display: inline-block;
        width: 24px;
        height: 23px;
        background-image: url("../img/icon_equipe_email_branco.png");
        background-position: center 10px;
        background-repeat: no-repeat;
        padding: 18px 20px;
        text-decoration: none;
        border-right: 1px solid #767676; }
      .nosso_time .swiper-slide .membro .linkedin {
        display: inline-block;
        width: 24px;
        height: 23px;
        background-image: url("../img/icon_equipe_linkedin_branco.png");
        background-position: center;
        background-repeat: no-repeat;
        padding: 18px 20px;
        text-decoration: none; }
      .nosso_time .swiper-slide .membro:hover {
        background-color: #ffffff; }
        .nosso_time .swiper-slide .membro:hover h3 {
          margin-top: 15px;
          font-family: "Calibri";
          font-size: 13px;
          color: #00354d;
          text-transform: uppercase;
          font-weight: bold;
          text-align: center; }
        .nosso_time .swiper-slide .membro:hover .carta {
          display: inline-block;
          width: 24px;
          height: 23px;
          background-image: url("../img/icon_equipe_email_azul.png");
          background-position: center 10px;
          background-repeat: no-repeat;
          padding: 18px 20px;
          text-decoration: none;
          border-right: 1px solid #01354d; }
        .nosso_time .swiper-slide .membro:hover .linkedin {
          display: inline-block;
          width: 24px;
          height: 23px;
          background-image: url("../img/icon_equipe_linkedin_azul.png");
          background-position: center;
          background-repeat: no-repeat;
          padding: 18px 20px;
          text-decoration: none; }
      .nosso_time .swiper-slide .membro:last-child {
        margin-right: 0px; }
    .nosso_time .swiper-slide .membro2 {
      width: 210px !important;
      min-height: 264px;
      background-color: #4c4c4c;
      border-radius: 0px 0px 0px 20px;
      float: left;
      display: block; }
      @media (max-width: 767px) {
        .nosso_time .swiper-slide .membro2 {
          margin: 0px; } }
      .nosso_time .swiper-slide .membro2 h3 {
        margin-top: 15px;
        font-family: "Calibri";
        font-size: 13px;
        color: #ffffff;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center; }
      .nosso_time .swiper-slide .membro2 .carta {
        display: inline-block;
        width: 24px;
        height: 23px;
        background-image: url("../img/icon_equipe_email_branco.png");
        background-position: center 10px;
        background-repeat: no-repeat;
        padding: 18px 20px;
        text-decoration: none;
        border-right: 1px solid #767676; }
      .nosso_time .swiper-slide .membro2 .linkedin {
        display: inline-block;
        width: 24px;
        height: 23px;
        background-image: url("../img/icon_equipe_linkedin_branco.png");
        background-position: center;
        background-repeat: no-repeat;
        padding: 18px 20px;
        text-decoration: none; }
      .nosso_time .swiper-slide .membro2:hover {
        background-color: #ffffff; }
        .nosso_time .swiper-slide .membro2:hover h3 {
          margin-top: 15px;
          font-family: "Calibri";
          font-size: 13px;
          color: #00354d;
          text-transform: uppercase;
          font-weight: bold;
          text-align: center; }
        .nosso_time .swiper-slide .membro2:hover .carta {
          display: inline-block;
          width: 24px;
          height: 23px;
          background-image: url("../img/icon_equipe_email_azul.png");
          background-position: center 10px;
          background-repeat: no-repeat;
          padding: 18px 20px;
          text-decoration: none;
          border-right: 1px solid #01354d; }
        .nosso_time .swiper-slide .membro2:hover .linkedin {
          display: inline-block;
          width: 24px;
          height: 23px;
          background-image: url("../img/icon_equipe_linkedin_azul.png");
          background-position: center;
          background-repeat: no-repeat;
          padding: 18px 20px;
          text-decoration: none; }
      .nosso_time .swiper-slide .membro2:last-child {
        margin-right: 0px; }
  .nosso_time .membro3 {
    width: 210px !important;
    min-height: 264px;
    background-color: #818181;
    border-radius: 0px 0px 0px 20px;
    float: left;
    display: block; }
    @media (max-width: 767px) {
      .nosso_time .membro3 {
        margin: 0px; } }
    .nosso_time .membro3 h3 {
      margin-top: 15px;
      font-family: "Calibri";
      font-size: 13px;
      color: #ffffff;
      text-transform: uppercase;
      font-weight: bold;
      text-align: center; }
    .nosso_time .membro3 .carta {
      display: inline-block;
      width: 24px;
      height: 23px;
      background-image: url("../img/icon_equipe_email_branco.png");
      background-position: center 10px;
      background-repeat: no-repeat;
      padding: 18px 20px;
      text-decoration: none;
      border-right: 1px solid #767676; }
    .nosso_time .membro3 .linkedin {
      display: inline-block;
      width: 24px;
      height: 23px;
      background-image: url("../img/icon_equipe_linkedin_branco.png");
      background-position: center;
      background-repeat: no-repeat;
      padding: 18px 20px;
      text-decoration: none; }
    .nosso_time .membro3:hover {
      background-color: #ffffff; }
      .nosso_time .membro3:hover h3 {
        margin-top: 15px;
        font-family: "Calibri";
        font-size: 13px;
        color: #00354d;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center; }
      .nosso_time .membro3:hover .carta {
        display: inline-block;
        width: 24px;
        height: 23px;
        background-image: url("../img/icon_equipe_email_azul.png");
        background-position: center 10px;
        background-repeat: no-repeat;
        padding: 18px 20px;
        text-decoration: none;
        border-right: 1px solid #01354d; }
      .nosso_time .membro3:hover .linkedin {
        display: inline-block;
        width: 24px;
        height: 23px;
        background-image: url("../img/icon_equipe_linkedin_azul.png");
        background-position: center;
        background-repeat: no-repeat;
        padding: 18px 20px;
        text-decoration: none; }
    .nosso_time .membro3:last-child {
      margin-right: 0px; }
  .nosso_time .equipe {
    text-align: center; }
    .nosso_time .equipe .membro {
      width: 210px !important;
      min-height: 264px;
      background-color: #262626;
      padding-bottom: 20px;
      border-radius: 0px 0px 0px 20px;
      float: left;
      margin-right: 75px;
      margin-bottom: 30px;
      display: block; }
      @media (max-width: 767px) {
        .nosso_time .equipe .membro {
          margin: 0px 55px; } }
      .nosso_time .equipe .membro h3 {
        margin-top: 15px;
        font-family: "Calibri";
        font-size: 13px;
        color: #ffffff;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center; }
      .nosso_time .equipe .membro .carta {
        display: inline-block;
        width: 24px;
        height: 23px;
        background-image: url("../img/icon_equipe_email_branco.png");
        background-position: center 10px;
        background-repeat: no-repeat;
        padding: 18px 20px;
        text-decoration: none;
        border-right: 1px solid #767676; }
      .nosso_time .equipe .membro .linkedin {
        display: inline-block;
        width: 24px;
        height: 23px;
        background-image: url("../img/icon_equipe_linkedin_branco.png");
        background-position: center;
        background-repeat: no-repeat;
        padding: 18px 20px;
        text-decoration: none; }
      .nosso_time .equipe .membro:hover {
        background-color: #ffffff; }
        .nosso_time .equipe .membro:hover h3 {
          margin-top: 15px;
          font-family: "Calibri";
          font-size: 13px;
          color: #00354d;
          text-transform: uppercase;
          font-weight: bold;
          text-align: center; }
        .nosso_time .equipe .membro:hover .carta {
          display: inline-block;
          width: 24px;
          height: 23px;
          background-image: url("../img/icon_equipe_email_azul.png");
          background-position: center 10px;
          background-repeat: no-repeat;
          padding: 18px 20px;
          text-decoration: none;
          border-right: 1px solid #01354d; }
        .nosso_time .equipe .membro:hover .linkedin {
          display: inline-block;
          width: 24px;
          height: 23px;
          background-image: url("../img/icon_equipe_linkedin_azul.png");
          background-position: center;
          background-repeat: no-repeat;
          padding: 18px 20px;
          text-decoration: none; }
      .nosso_time .equipe .membro:last-child {
        margin-right: 0px; }
    .nosso_time .equipe .membro2 {
      width: 210px !important;
      min-height: 264px;
      background-color: #4c4c4c;
      padding-bottom: 20px;
      border-radius: 0px 0px 0px 20px;
      float: left;
      margin-right: 75px;
      margin-bottom: 30px;
      display: block; }
      @media (max-width: 767px) {
        .nosso_time .equipe .membro2 {
          margin: 0px 55px; } }
      .nosso_time .equipe .membro2 h3 {
        margin-top: 15px;
        font-family: "Calibri";
        font-size: 13px;
        color: #ffffff;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center; }
      .nosso_time .equipe .membro2 .carta {
        display: inline-block;
        width: 24px;
        height: 23px;
        background-image: url("../img/icon_equipe_email_branco.png");
        background-position: center 10px;
        background-repeat: no-repeat;
        padding: 18px 20px;
        text-decoration: none;
        border-right: 1px solid #767676; }
      .nosso_time .equipe .membro2 .linkedin {
        display: inline-block;
        width: 24px;
        height: 23px;
        background-image: url("../img/icon_equipe_linkedin_branco.png");
        background-position: center;
        background-repeat: no-repeat;
        padding: 18px 20px;
        text-decoration: none; }
      .nosso_time .equipe .membro2:hover {
        background-color: #ffffff; }
        .nosso_time .equipe .membro2:hover h3 {
          margin-top: 15px;
          font-family: "Calibri";
          font-size: 13px;
          color: #00354d;
          text-transform: uppercase;
          font-weight: bold;
          text-align: center; }
        .nosso_time .equipe .membro2:hover .carta {
          display: inline-block;
          width: 24px;
          height: 23px;
          background-image: url("../img/icon_equipe_email_azul.png");
          background-position: center 10px;
          background-repeat: no-repeat;
          padding: 18px 20px;
          text-decoration: none;
          border-right: 1px solid #01354d; }
        .nosso_time .equipe .membro2:hover .linkedin {
          display: inline-block;
          width: 24px;
          height: 23px;
          background-image: url("../img/icon_equipe_linkedin_azul.png");
          background-position: center;
          background-repeat: no-repeat;
          padding: 18px 20px;
          text-decoration: none; }
      .nosso_time .equipe .membro2:last-child {
        margin-right: 0px; }
  .nosso_time .membro3 {
    width: 210px !important;
    min-height: 264px;
    background-color: #818181;
    padding-bottom: 20px;
    border-radius: 0px 0px 0px 20px;
    float: left;
    margin-right: 75px;
    margin-bottom: 30px;
    display: block; }
    @media (max-width: 767px) {
      .nosso_time .membro3 {
        margin: 0px 55px; } }
    .nosso_time .membro3 h3 {
      margin-top: 15px;
      font-family: "Calibri";
      font-size: 13px;
      color: #ffffff;
      text-transform: uppercase;
      font-weight: bold;
      text-align: center; }
    .nosso_time .membro3 .carta {
      display: inline-block;
      width: 24px;
      height: 23px;
      background-image: url("../img/icon_equipe_email_branco.png");
      background-position: center 10px;
      background-repeat: no-repeat;
      padding: 18px 20px;
      text-decoration: none;
      border-right: 1px solid #767676; }
    .nosso_time .membro3 .linkedin {
      display: inline-block;
      width: 24px;
      height: 23px;
      background-image: url("../img/icon_equipe_linkedin_branco.png");
      background-position: center;
      background-repeat: no-repeat;
      padding: 18px 20px;
      text-decoration: none; }
    .nosso_time .membro3:hover {
      background-color: #ffffff; }
      .nosso_time .membro3:hover h3 {
        margin-top: 15px;
        font-family: "Calibri";
        font-size: 13px;
        color: #00354d;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center; }
      .nosso_time .membro3:hover .carta {
        display: inline-block;
        width: 24px;
        height: 23px;
        background-image: url("../img/icon_equipe_email_azul.png");
        background-position: center 10px;
        background-repeat: no-repeat;
        padding: 18px 20px;
        text-decoration: none;
        border-right: 1px solid #01354d; }
      .nosso_time .membro3:hover .linkedin {
        display: inline-block;
        width: 24px;
        height: 23px;
        background-image: url("../img/icon_equipe_linkedin_azul.png");
        background-position: center;
        background-repeat: no-repeat;
        padding: 18px 20px;
        text-decoration: none; }
    .nosso_time .membro3:last-child {
      margin-right: 0px; }

.ultimas_publicacoes_home {
  padding-top: 60px;
  padding-bottom: 60px; }
  .ultimas_publicacoes_home h2 {
    background-image: url("../img/hifen-azul.gif");
    background-repeat: no-repeat;
    background-position: top left;
    padding: 28px 0px;
    font-family: 'gothamblack';
    font-size: 38px;
    color: #00354d;
    text-transform: uppercase;
    margin-top: 0px; }
    .ultimas_publicacoes_home h2 span {
      font-family: "tahoma";
      font-size: 38px;
      color: #313131;
      text-transform: uppercase;
      line-height: 38px; }

footer .footer {
  background-color: #ffffff;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4; }
  footer .footer .box_logo {
    text-align: center; }
  footer .footer .box_social {
    text-align: right; }
    footer .footer .box_social ul li {
      text-align: right;
      display: block;
      float: right;
      margin-bottom: 5px; }
      @media (max-width: 767px) {
        footer .footer .box_social ul li {
          margin: 11px 6px; } }
  footer .footer .txt_footer p {
    font-family: "Calibri";
    font-size: 13px;
    color: 1d1d1d;
    text-align: center;
    letter-spacing: 3px;
    margin-top: 15px;
    font-weight: bold; }
    footer .footer .txt_footer p img {
      margin: 5px 10px; }

.copy {
  background-color: #ffffff;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e4e4e4; }
  .copy .text-footer p {
    font-family: 'calibri';
    font-size: 12px;
    letter-spacing: 0.6px;
    color: #535353;
    text-align: center;
    margin: 0px;
    padding: 0px; }
    @media (max-width: 767px) {
      .copy .text-footer p {
        letter-spacing: inherit;
        line-height: inherit;
        font-size: 9px; } }
