.img-focus {
  -webkit-transition: all .7s cubic-bezier(.190, 1.000, .220, 1.000);
  -moz-transition: all .7s cubic-bezier(.190, 1.000, .220, 1.000);
  -ms-transition: all .7s cubic-bezier(.190, 1.000, .220, 1.000);
  -o-transition: all .7s cubic-bezier(.190, 1.000, .220, 1.000);
  transition: all .7s cubic-bezier(.190, 1.000, .220, 1.000);
  max-width: none;
  z-index: 100000;
  position: relative;
  &:hover {
    cursor: pointer;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.eapps-link {
  display: none important;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

@font-face {
  font-family: 'TwCenMTStd-Bold';
  src: url('../fonts/TwCenMT/TwCenMTStd-Bold.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'gothamblack';
    src: url('../fonts/gotham-black-webfont.woff2') format('woff2'),
         url('../fonts/gotham-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'myriad-regular';
  src: url("../fonts/MyriadPro-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.ttf") format("truetype"), url("../fonts/MyriadPro-Regular.svg#svgFontName") format("svg");
  /* Legacy iOS */ 
}

@import "compass";
$phone: '(max-width: 767px)';
$tablet: '(min-width: 768px) and (max-width: 1199px)';
$notbook: '(min-width: 995px) and (max-width: 1515px)';
$netbook: '(min-width: 1050px) and (max-width: 1081px)';
$tablet-horizontal: '(min-width: 768px) and (max-width: 1024px) and (orientation : portrait) ';

// cor //

body{
  overflow-x: hidden;
  background-color: #ffffff;
}

.menu-tablet {
  position: absolute;
  left: 0px;
  right: 0px;

  @media #{$phone}{
    display: none;
  }
  
  .menu-conteudo-tablet {
    margin-top: 48px;
    float: right;
  }

  ul {
    li {
      display: inline-block;
      padding: 3px 5px 3px 5px;
      a {
        width: 421px;
        height: 16px;
        font-family: 'Comfortaa-Regular';
        font-size: 17px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #fff;
        text-decoration: none;

        &:hover {
          border-bottom: 4px solid #ddd;
        }
      }
    }
  }
  
  .divBusca-top {
    .lupa1 {
      font-size: 20px;
      background-image: url(../img/lupa.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-color: transparent;
      background-color: transparent;
      height: 18px;
      width: 30px;
      border: none;
    }
    
    input[type='text'] {
      border: none;
      width: 100px;
      border-bottom: 2px solid #fff;
      background-color: transparent;
    }
  }
}

.menu-fixo {
  display:none;
  position: fixed;
  width: 100%;
  background-color: #00354d;
  z-index: 100100;
  -webkit-box-shadow: 0px 10px 4px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 4px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 4px -10px rgba(0, 0, 0, 0.75);

  &:hover{
    opacity:1;
  }
  .barra-superior{
    background-color: #2d2d2d;
    .traco{
      border-right: 2px solid #707070;
      width: 100%;
      height: 50px;
    }

    img.wpp{
      width: 13%;
      padding: 10px 0px;
      float: right;
    }

    img.redes{
      width: 24%;
      float: right;
      padding: 10px 0px;
      margin: 0px 33px;
    }

    .fb{
      width: 5%;
      float: right;
      margin: 10px 20px 0px 20px;
    }

    .inst{
      width: 10%;
      float: right;
      margin: 10px 10px 0px 20px;
    }


    p{
      font-family: 'DIN-Bold';
      font-size: 16.5px;
      color: #e6e6e6;
      letter-spacing: 1px;
      margin: 13px 10px;
      float: right;
    }
  }
  .topo {
    .logo {
      img {
        margin: 13px 17px;
        width: 107px;
        height: 47px;
        
        @media #{$tablet}{
          width: 65%;
          padding: 7px;
        }
      }
    }

  .barra-icons {
    margin: 10px 0px;
    padding: 20px 10px;
    border-right: 1px solid #898989;
    border-left: 1px solid #898989;
      img {
        float: left;
        margin-right: 11px;
      }
  }

    ul {
      margin-top: 26px;
      float: left;

      li {
        display: inline-block;
        padding: 3px 5px 3px 5px;
        margin: 0px 12px;

        .drop{
          a{
            font-family: 'TwCenMTStd-Bold';
            font-size: 28px;
            letter-spacing: 1.4px;
            text-transform: uppercase;
            text-align: left;
            color: #313131;
            text-decoration: none;

            &:hover {
              border-bottom: 1px solid #ddd;
            }
          }

          .dropdown-menu{
            text-align: center;
            left: -50px;
          }
        }

        a {
          font-family: 'tahoma';
          font-size: 13px;
          text-transform: uppercase;
          text-align: left;
          color: #ffffff;
          text-decoration: none;
          font-weight: bold;
        }
      }
    }
  }

  @media #{$phone}{
    display: none !important;
  }
}

.top-mob {
  text-align: center;
  display: none;
  text-align: center;
  position: fixed;
  text-align: center;
  width: 100%;
  background-color: #00354d;
  z-index: 10000000000;
  padding: 10px;
  box-shadow: -1px 2px 20px 0px #b7b7b7;
  img {
    display: inline-block;
  }
  @media #{$phone}{
    display: block;
    text-align: center;
  }
  @media #{$tablet}{
    display: block;
    text-align: center;
  }
}


@media #{$phone}{
  .logo-mobile {
    position: fixed;
    left: -500px;
    height: auto;
    bottom: 0px;
    right: auto;
    top: 0px;
    width: 100%;
    background-color: #00354d;
    z-index: 100000000;
    text-align: center;
    padding: 10px;

    .espaco{
      img {
        width: 37%;
      }
    }
  }
}
  .logo-mobile {
    

    .itens {

      z-index: 999;
      text-align: center;
      overflow: hidden;

      @media #{$phone}{
        display: block;
        text-align: center;
      }

      @media #{$tablet}{
        display: block;
        text-align: center;
      }
      display: none;

      ul {
        padding: 60px 0px;

        li {
          padding: 8px 0px 8px 0px;
          list-style: none;
          text-decoration: none;
          width: 100%;
          text-align: center;

          a {
            font-family: 'tahoma';
            font-size: 22px;
            color: #ffffff;
            text-transform: uppercase;
            text-decoration: none;

            &:hover{
              border-bottom: 2px solid #ddd;
            }
          }
        }

        p {
          font-family: 'Lato', sans-serif;
          color: #fff;
          text-align: left;
          font-size: 20px;
          white-space: nowrap;
          text-align: center;
        }
      }
      .site {
        padding-top: 30px;
        padding-bottom: 10px;
        color: #c9b5e0;
        font-family: 'Ubuntu', sans-serif;
        font-size: 15px;

        a {
          color: #c9b5e0;
          font-family: 'Ubuntu', sans-serif;
          font-size: 15px;
        }
        p {
          color: #c9b5e0;
          font-family: 'Ubuntu', sans-serif;
          font-size: 16px;
        }
      }
      .dados-rodape {
        border-top: 1px solid #fff;
        padding-top: 10px;
        text-align: center;
        a {
          color: #fff;
          font-family: 'Muli', sans-serif;
          font-size: 16px;
        }
        img {

          padding: 0px;
        }
      }
    }
  }

.menu-mobile {
  display: none;
  padding-top: 20px;
  
  @media #{$phone}{
    display: block;
    background-image: url(../img/menu-mobile.png);
    width: 30px;
    height: 30px;
    position: fixed;
    top: 14px;
    left: 15px;
    z-index: 1000000000000;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.menu {
  left: 0px;
  right: 0px;
  z-index: 110000000000;
  background-color: #00354d;


  .logo-menu {
    margin-top: 20px;
    width: 107px;
    height: 47px;

    @media #{$tablet}{
      width: 66%;
    }
  }

  .barra-superior{
    background-color: #2d2d2d;
    padding: 15px;

    .traco{
      border-right: 2px solid #707070;
      width: 100%;
      height: 50px;
    }

    img.wpp{
      width: 13%;
      padding: 10px 0px;
      float: right;
    }

    img.redes{
      width: 24%;
      float: right;
      padding: 10px 0px;
      margin: 0px 33px;
    }

     .fb{
      width: 5%;
      float: right;
      margin: 10px 20px 0px 20px;
    }

    .inst{
      width: 10%;
      float: right;
      margin: 10px 10px 0px 20px;
    }

    p{
      font-family: 'DIN-Bold';
      font-size: 16.5px;
      color: #e6e6e6;
      letter-spacing: 1px;
      margin: 13px 10px;
      float: right;
    }
  }

  .altura-menu{
    padding: 28px 0px;

    .logo-menu {
      margin: 13px 17px;
      width: 107px;
      height: 47px;

      @media #{$tablet}{
        width: 66%;
      }
    }

    @media #{$phone}{
      display: none;
    }

    ul.menu-conteudo {
      margin-top: 27px;
      float: left;

      li {
        display: inline-block;
        padding: 3px 5px 3px 5px;
        margin: 0px 13px;

        a {
          font-family: 'tahoma';
          font-size: 13px;
          text-transform: uppercase;
          text-align: left;
          color: #ffffff;
          text-decoration: none;
          font-weight: bold;
        }

        .dropdown-menu{
          text-align: center;
          left: -50px;
        }
      }
    }
  }

  .barra-icons {
    margin: 10px 0px;
    padding: 20px 10px;
    border-right: 1px solid #898989;
    border-left: 1px solid #898989;
      img {
        float: left;
        margin-right: 11px;
      }
  }
   
  .divBusca-top {

    .lupa1 {
      font-size: 20px;
      background-image: url(../img/lupa.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-color: transparent;
      background-color: transparent;
      height: 18px;
      width: 30px;
      border: none;
    }
    input[type='text'] {

      border: none;
      width: 100px;
      border-bottom: 2px solid #fff;
      background-color: transparent;
    }
  }
}


.banner_home {
    height: 537px;
    background-image: url("../img/banner_home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    @media #{$phone}{
      background-size: cover;
    }

    .central_logo {
      text-align: center;
      padding-top: 230px;
      @media #{$phone}{
        img {
          width: 70%;
          height: 70%;
        }
      }
    }

   .swiper-container-banner {
      height: 50px;
      width: 100%;
      overflow: hidden;
    }

    .swiper-pagination {
        color: white !important;
    }

    .swiper-pagination-bullet-active {
         background-color: white !important;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }

    

    h1 {
        text-align: center; 
        span {
          display: inline-block;
          font-family: 'gothamblack';
          font-size: 17px;
          text-transform: uppercase;
          color: #ffffff;
          background-color: rgba(0,53,77,0.4);
          padding: 8px 19px;
          @media #{$phone}{
            font-size: 15px;
            padding: 8px 15px;
          }
        }
    }

}

.banner_patrimonial {
    height: 537px;
    background-image: url("../img/AdvocaciaPatrimonial.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    @media #{$phone}{
      background-size: auto 100%;
      background-position: center center;
    }

      h1 {
          text-align: center;
          margin-top: 250px;
          span {
            display: inline-block;
            font-family: 'gothamblack';
            font-size: 34px;
            text-transform: uppercase;
            color: #ffffff;
            background-color: rgba(0,53,77,0.4);
            padding: 8px 19px;
          }
      }


}


.banner_nosso_time {
    height: 537px;
    background-image: url("../img/AdvocaciaPatrimonial.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    @media #{$phone}{
      background-size: auto 100%;
      background-position: center center;
    }

      h1 {
          text-align: center;
          margin-top: 250px;
          span {
            display: inline-block;
            font-family: 'gothamblack';
            font-size: 34px;
            text-transform: uppercase;
            color: #ffffff;
            background-color: rgba(0,53,77,0.4);
            padding: 8px 19px;
          }
      }


}

.conteudo-interna {
  padding-top: 60px;
  padding-bottom: 60px;
  @media #{$phone}{
    padding-top: 20px;
    padding-bottom: 20px;
  }
  p {
      font-family: "Calibri";
      font-size: 16px;
      color: #464646;
      text-align: justify;
      line-height: 25px;
      margin-bottom: 25px;
  }

  .box_escritorio_interna {
      margin-bottom: 30px;

      h2 {
        background-image: url("../img/hifen-azul.gif");
        background-repeat: no-repeat;
        background-position: top left;
        margin: 0px;
        padding: 0px;
        padding-top: 15px;
        font-family: 'tahoma';
        font-size: 25px;
        color: #313131;
        margin-bottom: 40px;
        text-transform: uppercase;
      }

      p {
        font-family: "Calibri";
        font-size: 16px;
        color: #464646;
        text-align: justify;
        line-height: 25px;
        img {
            margin: 2px 2px 2px 2px;
        }
      }


  }

}

.contato_interna {
  background-color: #ffffff;
  padding: 0px 0px;
  padding-bottom: 60px;
  @media #{$phone}{
      padding-left: 20px;
  }


  .label_form {
      font-family: 'Calibri';
      font-size: 15px;
      color: #313131;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 5px;
  }

  .campo_form {
    input[type='text'] {
      width: 90%;
      font-family: 'Calibri';
      font-size: 15px;
      background-color: #e1e1e1;
      padding: 2px 8px;
      margin-bottom: 5px;
      border: 1px solid #e1e1e1;
    }
    textarea {
      font-family: 'Calibri';
      font-size: 15px;
      width: 90%;
      background-color: #e1e1e1;
      padding: 2px 8px;
      margin-bottom: 5px;
      border: 1px solid #e1e1e1;
      height: 194px;
    }
    input[type='reset'] {
        font-family: 'Calibri';
        text-transform: uppercase;
        color: #ffffff;
        font-size: 15px;
        background-color: #313131;
        padding: 6px 23px;
        display: inline-block;
        border: none;
        float: right;
        margin-right: 10px;
    }
    input[type='submit'] {
        font-family: 'Calibri';
        text-transform: uppercase;
        color: #ffffff;
        font-size: 15px;
        background-color: #313131;
        padding: 6px 23px;
        display: inline-block;
        border: none;
        float: right;
        margin-right: 60px;
    }
  }

  h2 {
    margin: 0px;
    padding: 0px;
    padding-top: 15px;
    background-image: url("../img/bg_h2_azul.gif");
    background-repeat: no-repeat;
    background-position: left top;
    font-family: 'metropolisregular';
    font-size: 24.97px;
    color: #2d2d2d;
    margin-bottom: 60px;
    text-transform: uppercase;
  }

  .artigo {
    background-color: #f6f6f6;
    text-align: center;
    height: 463px;

    .preco {
      font-family: 'GOTHAM-BLACK';
      font-size: 25px;
      color: #0283bf;
      text-transform: uppercase;
      span {
        font-size: 12.5px;
      }
    }

    .img_artigo {
      text-align: center;
    }

    h3 {
      font-family: 'GOTHAM-BLACK';
      font-size: 12.5px;
      color: #313131;
      text-transform: uppercase;
    }

    p {
        font-family: 'Calibri';
        font-size: 10,42px;
        color: #313131;
        text-align: center;
        height: 45px;
    }

    a {
      display: inline-block;
      font-family: 'd-din_condenseddinCnBd';
      font-size: 10px;
      color: #ffffff;
      text-transform: uppercase;
      background-color: #2d4a45; 
      padding: 9px 54px;
      text-transform: uppercase;
      text-decoration: none;
      margin-top: 20px;

      &:hover {
        color: #2d4a45;
        background-color: #ffffff; 
      }

    }


    .coment_bar {
        width: 90%;
        margin-top: 30px;
        border-top: 1px dotted #b3b3b3;
        padding-top: 10px;

        span {
            font-family: 'd-din_condensedregular';
            font-size: 11px;
            color: #a9a9a9;
            display: inline-block;
            padding-top: 5px;
            padding-right: 15px;
        }

    }



  }

}

.menu-interna {
  /*
  height: 1200px;

  min-height: 400px;
*/
  .margen_cinza {
      background-color: #f0f0f0;
      height: 100%;
      margin-top: 30px;
  }

  .equipe_atuacao {
            h3 {
                background-image: url("../img/hifen-azul.gif");
                background-repeat: no-repeat;
                background-position: top left;
                padding: 28px 0px;
                font-family: "tahoma";
                font-size: 25px;
                color: #313131;
                text-transform: uppercase;
                line-height: 38px;
                margin-top: 45px;
            }
          .equipe {
              text-align: center;

              .membro {
                  width: 210px;
                  min-height: 264px;
                  background-color: #262626;
                  padding-bottom: 20px;
                  border-radius: 0px 0px 0px 20px;
                  float: left;
                  margin-right: 11px; 
                  margin-bottom: 30px; 
                  @media #{$phone}{
                      margin-left: 73px;
                  }
                  h4 {
                      margin-top: 15px;
                      font-family: "Calibri";
                      font-size: 13px;
                      color: #ffffff;
                      text-transform: uppercase;
                      font-weight: bold;
                      text-align: center;
                  }

                  .carta {
                    display: inline-block;
                    width: 24px;
                    height: 23px;
                    background-image: url("../img/icon_equipe_email_branco.png");
                    background-position: center 10px;
                    background-repeat: no-repeat;
                    padding: 18px 20px;
                    text-decoration: none;
                    border-right: 1px solid #767676;
                  }

                  .linkedin {
                    display: inline-block;
                    width: 24px;
                    height: 23px;
                    background-image: url("../img/icon_equipe_linkedin_branco.png");
                    background-position: center;
                    background-repeat: no-repeat;
                    padding: 18px 20px;
                    text-decoration: none;
                  }

                  &:hover {
                    background-color: #ffffff;
                    h4 {
                        margin-top: 15px;
                        font-family: "Calibri";
                        font-size: 13px;
                        color: #00354d;
                        text-transform: uppercase;
                        font-weight: bold;
                        text-align: center;
                    }

                    .carta {
                      display: inline-block;
                      width: 24px;
                      height: 23px;
                      background-image: url("../img/icon_equipe_email_azul.png");
                      background-position: center 10px;
                      background-repeat: no-repeat;
                      padding: 18px 20px;
                      text-decoration: none;
                      border-right: 1px solid #01354d;
                    }

                    .linkedin {
                      display: inline-block;
                      width: 24px;
                      height: 23px;
                      background-image: url("../img/icon_equipe_linkedin_azul.png");
                      background-position: center;
                      background-repeat: no-repeat;
                      padding: 18px 20px;
                      text-decoration: none;
                    }
                  }
                &:last-child {
                  margin-right: 0px;
                }
              }

              .membro2 {
                  width: 210px;
                  min-height: 264px;
                  background-color: #4c4c4c;
                  padding-bottom: 20px;
                  border-radius: 0px 0px 0px 20px;
                  float: left;
                  margin-right: 11px; 
                  margin-bottom: 30px; 
                  @media #{$phone}{
                      margin-left: 73px;
                  }
                  h4 {
                      margin-top: 15px;
                      font-family: "Calibri";
                      font-size: 13px;
                      color: #ffffff;
                      text-transform: uppercase;
                      font-weight: bold;
                      text-align: center;
                  }

                  .carta {
                    display: inline-block;
                    width: 24px;
                    height: 23px;
                    background-image: url("../img/icon_equipe_email_branco.png");
                    background-position: center 10px;
                    background-repeat: no-repeat;
                    padding: 18px 20px;
                    text-decoration: none;
                    border-right: 1px solid #767676;
                  }

                  .linkedin {
                    display: inline-block;
                    width: 24px;
                    height: 23px;
                    background-image: url("../img/icon_equipe_linkedin_branco.png");
                    background-position: center;
                    background-repeat: no-repeat;
                    padding: 18px 20px;
                    text-decoration: none;
                  }

                  &:hover {
                    background-color: #ffffff;
                    h4 {
                        margin-top: 15px;
                        font-family: "Calibri";
                        font-size: 13px;
                        color: #00354d;
                        text-transform: uppercase;
                        font-weight: bold;
                        text-align: center;
                    }

                    .carta {
                      display: inline-block;
                      width: 24px;
                      height: 23px;
                      background-image: url("../img/icon_equipe_email_azul.png");
                      background-position: center 10px;
                      background-repeat: no-repeat;
                      padding: 18px 20px;
                      text-decoration: none;
                      border-right: 1px solid #01354d;
                    }

                    .linkedin {
                      display: inline-block;
                      width: 24px;
                      height: 23px;
                      background-image: url("../img/icon_equipe_linkedin_azul.png");
                      background-position: center;
                      background-repeat: no-repeat;
                      padding: 18px 20px;
                      text-decoration: none;
                    }
                  }
                &:last-child {
                  margin-right: 0px;
                }
              }

          }

              .membro3 {
                  width: 210px;
                  min-height: 264px;
                  background-color: #818181;
                  padding-bottom: 20px;
                  border-radius: 0px 0px 0px 20px;
                  float: left;
                  margin-right: 11px; 
                  margin-bottom: 30px; 
                  @media #{$phone}{
                      margin-left: 73px;
                  }
                  h4 {
                      margin-top: 15px;
                      font-family: "Calibri";
                      font-size: 13px;
                      color: #ffffff;
                      text-transform: uppercase;
                      font-weight: bold;
                      text-align: center;
                  }

                  .carta {
                    display: inline-block;
                    width: 24px;
                    height: 23px;
                    background-image: url("../img/icon_equipe_email_branco.png");
                    background-position: center 10px;
                    background-repeat: no-repeat;
                    padding: 18px 20px;
                    text-decoration: none;
                    border-right: 1px solid #767676;
                  }

                  .linkedin {
                    display: inline-block;
                    width: 24px;
                    height: 23px;
                    background-image: url("../img/icon_equipe_linkedin_branco.png");
                    background-position: center;
                    background-repeat: no-repeat;
                    padding: 18px 20px;
                    text-decoration: none;
                  }

                  &:hover {
                    background-color: #ffffff;
                    h4 {
                        margin-top: 15px;
                        font-family: "Calibri";
                        font-size: 13px;
                        color: #00354d;
                        text-transform: uppercase;
                        font-weight: bold;
                        text-align: center;
                    }

                    .carta {
                      display: inline-block;
                      width: 24px;
                      height: 23px;
                      background-image: url("../img/icon_equipe_email_azul.png");
                      background-position: center 10px;
                      background-repeat: no-repeat;
                      padding: 18px 20px;
                      text-decoration: none;
                      border-right: 1px solid #01354d;
                    }

                    .linkedin {
                      display: inline-block;
                      width: 24px;
                      height: 23px;
                      background-image: url("../img/icon_equipe_linkedin_azul.png");
                      background-position: center;
                      background-repeat: no-repeat;
                      padding: 18px 20px;
                      text-decoration: none;
                    }
                  }
                &:last-child {
                  margin-right: 0px;
                }
              }


  }

  .central {
      height: 100%;
      .coluna_menu {
          margin-top: 30px;
          background-color: #f0f0f0;
          height: 100%;

          .menu-estrutura-interna {
              margin-top: 30px;
              background-color: #e5e5e5;
              margin: 0px;
              padding: 10px;

              li {
                  display: block;
                  clear: both;
                  height: 80px;
                  a {
                    display: block;
                    text-transform: none;
                    img {
                        float: left;
                        margin: 5px 10px;
                    }
                    p {
                      font-family: "Calibri";
                      font-size: 14px;
                      color: #013148;
                      text-transform: uppercase;
                      font-weight: bold;
                      padding-top: 10px;
                    }
                  }
              }
          }

      }

      .conteudo-menu {
            margin-top: 30px;
            padding-right: 0px;
            @media #{$phone}{
              padding-right: 15px;
            }

            h2 {
                background-image: url("../img/hifen-azul.gif");
                background-repeat: no-repeat;
                background-position: top left;
                padding: 28px 0px;
                font-family: 'gothamblack';
                font-size: 38px;
                color: #00354d;
                text-transform: uppercase;
                margin-top: 0px;

                span {
                    font-family: "tahoma";
                    font-size: 38px;
                    color: #313131;
                    text-transform: uppercase;
                    line-height: 38px;
                }
            }

            h3 {
                background-image: url("../img/hifen-azul.gif");
                background-repeat: no-repeat;
                background-position: top left;
                padding: 28px 0px;
                font-family: "tahoma";
                font-size: 25px;
                color: #313131;
                text-transform: uppercase;
                line-height: 38px;
                margin-top: 45px;
            }

            .subtitulo-interno {
                font-family: "Calibri";
                font-size: 22px;
                color: #1b1b1b;
                width: 100%;
                padding-bottom: 20px;
                border-bottom: 1px solid #e4e4e4;
            }

            .texto-menu-interno {
                p {
                  font-family: "Calibri";
                  font-size: 15px;
                  color: #464646;
                  text-align: justify;
                  margin-bottom: 20px;
                }
                @media #{$phone}{
                  padding: 0px 24px;
                }
            }





      }
  }


}

.equipe_interno {
        .icon_mobile {
            a {
              display: inline-block;
              font-family: "Tahoma";
              font-size: 12px;
              color: #03354c;
              float: right;
              padding: 6px 12px;
              text-decoration: none;
              img {
                  margin-top: -2px;
              }

              span {
                  font-weight: bolder;
              }
            }

        }
        
    .foto {
        @media #{$phone}{
            padding-top: 53px !important;
        }

        .h1_mobile {
            font-family: 'gothamblack';
            font-size: 30px;
            color: #00354d;
            text-transform: uppercase;
            margin-left: 40px;
            margin-top: 60px;
            margin-bottom: 30px;
            text-align: center;
            @media #{$phone}{
                  width: 85%;
            }
        }

        .foto-perfil {
            width: 100%;
        }
        .icon {
            a {
              display: inline-block;
              font-family: "Tahoma";
              font-size: 12px;
              color: #03354c;
              float: right;
              padding: 6px 12px;
              text-decoration: none;
              img {
                  margin-top: -2px;
              }

              span {
                  font-weight: bolder;
              }
            }

        }

    }

    .dados {
        overflow: hidden;
        min-height: 676px;
        padding-bottom: 70px !important;
        background-color: #e5e5e5;
        margin-bottom: 50px !important;
        @media #{$phone}{
            padding-top: 20px !important;
        }



        h1 {
            font-family: 'gothamblack';
            font-size: 30px;
            color: #00354d;
            text-transform: uppercase;
            margin-left: 40px;
            margin-top: 60px;
            margin-bottom: 30px;
            @media #{$phone}{
                  width: 85%;
            }
        }

        .social {
            display: inline-block;
            background-color: #00354d;
            padding: 10px 30px;
            border-radius: 0px 15px 0px 0px;
            img {
                margin: 5px;
            }
        }

      .infos {
          margin-left: 40px;
          margin-top: 40px;

          h2 {
            font-family: "Calibri";
            font-size: 15px;
            color: #464646;
            text-transform: uppercase;
            border-bottom: 1px solid #959595;
            padding-bottom: 10px;
            font-weight: bold;
          }

          p {
            font-family: "Calibri";
            font-size: 15px;
            color: #464646;
            padding-right: 30px;
          }

          .txt_atuacao {
            display: block;
            text-decoration: none;
            font-family: "Calibri";
            font-size: 15px;
            color: #464646;
            margin-top: 10px;
            margin-bottom: 10px;
            text-transform: capitalize;
            img {
                margin-right: 15px;
            }
            @media #{$phone}{
              font-size: 15px;
              padding-right: 15px;
              height: 64px;
              img {
                  margin-bottom: 15px;
                  float: left;
              }

              span {
                display: inline-block;
                float: left;
                width: 79%
              }
            }
          }
      } 

    }


    .texto-equipe {
        padding-top: 60px;
        padding-bottom: 60px;

        p {
            text-align: justify;
            font-family: "Calibri";
            font-size: 15px;
            color: #464646;
            line-height: 25px;

        }

    }


}

.quemsomos_home {
    padding: 60px 0px;
    border-bottom: 1px solid #e4e4e4;
    @media #{$phone}{
      padding: 16px 0px;
      height: 974px;
    }

  .swiper-container-escritorio {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    background: #fff;
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

    .conteudo_quemsomso {
      height: 337px;
      @media #{$phone}{
        height: 450px;
      }
      
      h2 {
          font-family: 'gothamblack';
          font-size: 38px;
          color: #00354d;
          text-transform: uppercase;
          margin-top: 0px
      }

      h3 {
          font-family: "tahoma";
          font-size: 21px;
          color: #313131;
          text-transform: uppercase;
          margin-bottom: 30px;
      }

      p {
          font-family: "Calibri";
          font-size: 16px;
          color: #464646;
          text-align: justify;
          line-height: 25px;

      }

      img {
        margin: 3px 10px
      }

    }
  }
  .swiper-pagination-escritorio {
    position: absolute;
    top: 450px;
    right: 10px;
    width: auto !important;
    left: auto !important;
    margin-left: 5;
    @media #{$phone}{
      top: 516px;
    }

    .swiper-pagination-bullet {
      padding: 0px 15px;
      border-radius: 0;
      width: auto;
      height: 30px;
      text-align: center;
      line-height: 30px;
      font-size: 12px;
      color:#000;
      opacity: 1;
      background-color: #ffffff;
      border: 1px solid #939090;
      font-family: "tahoma";
      font-size: 10px;
      color: #313131;
      text-transform: uppercase;
    }
    .swiper-pagination-bullet-active {
      color:#fff;
      background: #00354d;
    }
  }


    .icon_logo {
      text-align: center;
      @media #{$phone}{
        img {
          height: 180px;
          margin-bottom: 25px;
        }
      }
    }




    .menu_quem_somos {
        float: right;
        margin-top: 45px;
        @media #{$phone}{
            padding: 0px;
            margin: 0px;
            margin-top: 20px;
            margin-left: -10px;
        }
        li {
            display: inline-block;
            a {
              border: 1px solid #939090;
              padding: 10px 20px 10px 20px;
              font-family: "tahoma";
              font-size: 10px;
              color: #313131;
              text-transform: uppercase;
              text-decoration: none;
              &:hover {
                padding: 15px 20px 10px 20px;
              }
            }
            .aseleted {
              border: 1px solid #939090;
              padding: 15px 20px 10px 20px;
              font-family: "tahoma";
              font-size: 10px;
              color: #313131;
              text-transform: uppercase;
              text-decoration: none;
              &:hover {
                padding: 15px 20px 10px 20px;
              }
            }
        }

    }

}

.adv_patrimonial_home {
  padding-top: 60px;
  padding-bottom: 60px;

  h2 {
      background-image: url("../img/hifen-azul.gif");
      background-repeat: no-repeat;
      background-position: top left;
      padding: 28px 0px;
      font-family: 'gothamblack';
      font-size: 38px;
      color: #00354d;
      text-transform: uppercase;
      margin-top: 0px;

      span {
          font-family: "tahoma";
          font-size: 38px;
          color: #313131;
          text-transform: uppercase;
          line-height: 38px;
      }
  }

  .linha_tempo_mobile {
      text-align: center;
  }

  .linha_tempo {
    @media #{$phone}{
        display: none;
    }

    width: 921px;
    height: 400px;
    background-image: url("../img/linha_tempo91.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0 auto;
    .bolinha01 {
      display: block;
      float: left;
      position: relative;
      top: 131px;
      left: 78px;
      img {
        width: 48px;
        height: 57px;
      }
    }

    .bolinha02 {
      display: block;
      float: left;
      position: relative;
      top: 131px;
      left: 507px;
      img {
        width: 48px;
        height: 57px;
      }
    }

    .bolinha03 {
      display: block;
      float: left;
      position: relative;
      top: 241px;
      left: 223px;
      img {
        transform: rotate(180deg); /* Equal to rotateZ(45deg) */
      }
    }

    .bolinha04 {
      display: block;
      float: left;
      position: relative;
      top: 241px;
      left: 630px;
      img {
        transform: rotate(180deg); /* Equal to rotateZ(45deg) */
      }
    }

  }

  .center_img {
    display: none;
    text-align: center;
    @media #{$phone}{
        display: block;
    }
    img {
      text-align: center;
      margin: 0 auto;
    }
  }

}


.area_atuacao_home {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../img/bg_textura.jpg");
  background-color: #00354d;
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;

  h2 {
      background-image: url("../img/hifen-branco.gif");
      background-repeat: no-repeat;
      background-position: top left;
      padding: 28px 0px;
      font-family: 'gothamblack';
      font-size: 38px;
      color: #ffffff;
      text-transform: uppercase;
      margin-top: 0px;

      span {
          font-family: "tahoma";
          font-size: 38px;
          color: #ffffff;
          text-transform: uppercase;
          line-height: 38px;
      }
  }

  .icons {

    .icon {
      text-align: center;
      margin-bottom: 40px;
      height: 170px;
        a {
          display: block;
          text-align: center;
          font-family: "Calibri";
          font-size: 15px;
          text-transform: uppercase;
          color: #ffffff;
          font-weight: bold;
          padding: 0px 10px;
          text-decoration: none;
          line-height: 18px;
          @media #{$phone}{
              font-size: 13px;
          }


          img {
            display: block;
            margin: 0 auto;
            margin-bottom: 15px;
            @media #{$phone}{
                  width: 72px;
                  height: 74px;
            }
          }
        }

    }

  }

}


.onde_atuamos_home {
  padding-top: 60px;
  padding-bottom: 60px;

  h2 {
      background-image: url("../img/hifen-azul.gif");
      background-repeat: no-repeat;
      background-position: top left;
      padding: 28px 0px;
      font-family: 'gothamblack';
      font-size: 38px;
      color: #00354d;
      text-transform: uppercase;
      margin-top: 0px;

      span {
          font-family: "tahoma";
          font-size: 38px;
          color: #313131;
          text-transform: uppercase;
          line-height: 38px;
      }
  }

  .abrangencia{
      h3 { 
        font-family: 'myriad-regular';
        font-size: 21px;
        padding-left: 17px;
        text-transform: uppercase;
        color: #000000;
        font-weight: bold;
      }
      .box {
        background-image: url("../img/bg_box.jpg");
        background-repeat: no-repeat;
        background-position: top left;
        width: 324px;
        height: 175px;
        font-family: "Calibri";
        font-size: 17px;
        color: #ffffff;
        line-height: 28px;
        text-align: justify;
        padding: 33px 20px 0px 19px;
        margin-bottom: 20px;
      }
  }


}



.nosso_time_interna {
  padding-bottom: 60px;
  background-color: #ffffff;

  h2 {
      background-image: url("../img/hifen-azul.gif");
      background-repeat: no-repeat;
      background-position: top left;
      padding: 28px 0px;
      font-family: 'gothamblack';
      font-size: 38px;
      color: #00354d;
      text-transform: uppercase;
      margin-top: 0px;

      span {
          font-family: "tahoma";
          font-size: 38px;
          color: #00354d;
          text-transform: uppercase;
          line-height: 38px;
      }
  }

  .equipe {
      text-align: center;

      .membro {
          width: 210px;
          min-height: 264px;
          background-color: #262626;
          padding-bottom: 20px;
          border-radius: 0px 0px 0px 20px;
          float: left;
          margin-right: 75px; 
          margin-bottom: 30px; 
          @media #{$phone}{
              margin-left: 73px;
          }
          h3 {
              margin-top: 15px;
              font-family: "Calibri";
              font-size: 13px;
              color: #ffffff;
              text-transform: uppercase;
              font-weight: bold;
              text-align: center;
          }

          .carta {
            display: inline-block;
            width: 24px;
            height: 23px;
            background-image: url("../img/icon_equipe_email_branco.png");
            background-position: center 10px;
            background-repeat: no-repeat;
            padding: 18px 20px;
            text-decoration: none;
            border-right: 1px solid #767676;
          }

          .linkedin {
            display: inline-block;
            width: 24px;
            height: 23px;
            background-image: url("../img/icon_equipe_linkedin_branco.png");
            background-position: center;
            background-repeat: no-repeat;
            padding: 18px 20px;
            text-decoration: none;
          }

          &:hover {
            background-color: #ffffff;
            h3 {
                margin-top: 15px;
                font-family: "Calibri";
                font-size: 13px;
                color: #00354d;
                text-transform: uppercase;
                font-weight: bold;
                text-align: center;
            }

            .carta {
              display: inline-block;
              width: 24px;
              height: 23px;
              background-image: url("../img/icon_equipe_email_azul.png");
              background-position: center 10px;
              background-repeat: no-repeat;
              padding: 18px 20px;
              text-decoration: none;
              border-right: 1px solid #01354d;
            }

            .linkedin {
              display: inline-block;
              width: 24px;
              height: 23px;
              background-image: url("../img/icon_equipe_linkedin_azul.png");
              background-position: center;
              background-repeat: no-repeat;
              padding: 18px 20px;
              text-decoration: none;
            }
          }
        &:last-child {
          margin-right: 0px;
        }
      }

      .membro2 {
          width: 210px;
          min-height: 264px;
          background-color: #4c4c4c;
          padding-bottom: 20px;
          border-radius: 0px 0px 0px 20px;
          float: left;
          margin-right: 75px; 
          margin-bottom: 30px; 
          @media #{$phone}{
              margin-left: 73px;
          }
          h3 {
              margin-top: 15px;
              font-family: "Calibri";
              font-size: 13px;
              color: #ffffff;
              text-transform: uppercase;
              font-weight: bold;
              text-align: center;
          }

          .carta {
            display: inline-block;
            width: 24px;
            height: 23px;
            background-image: url("../img/icon_equipe_email_branco.png");
            background-position: center 10px;
            background-repeat: no-repeat;
            padding: 18px 20px;
            text-decoration: none;
            border-right: 1px solid #767676;
          }

          .linkedin {
            display: inline-block;
            width: 24px;
            height: 23px;
            background-image: url("../img/icon_equipe_linkedin_branco.png");
            background-position: center;
            background-repeat: no-repeat;
            padding: 18px 20px;
            text-decoration: none;
          }

          &:hover {
            background-color: #ffffff;
            h3 {
                margin-top: 15px;
                font-family: "Calibri";
                font-size: 13px;
                color: #00354d;
                text-transform: uppercase;
                font-weight: bold;
                text-align: center;
            }

            .carta {
              display: inline-block;
              width: 24px;
              height: 23px;
              background-image: url("../img/icon_equipe_email_azul.png");
              background-position: center 10px;
              background-repeat: no-repeat;
              padding: 18px 20px;
              text-decoration: none;
              border-right: 1px solid #01354d;
            }

            .linkedin {
              display: inline-block;
              width: 24px;
              height: 23px;
              background-image: url("../img/icon_equipe_linkedin_azul.png");
              background-position: center;
              background-repeat: no-repeat;
              padding: 18px 20px;
              text-decoration: none;
            }
          }
        &:last-child {
          margin-right: 0px;
        }
      }

  }

      .membro3 {
          width: 210px;
          min-height: 264px;
          background-color: #818181;
          padding-bottom: 20px;
          border-radius: 0px 0px 0px 20px;
          float: left;
          margin-right: 75px; 
          margin-bottom: 30px; 
          @media #{$phone}{
              margin-left: 73px;
          }
          h3 {
              margin-top: 15px;
              font-family: "Calibri";
              font-size: 13px;
              color: #ffffff;
              text-transform: uppercase;
              font-weight: bold;
              text-align: center;
          }

          .carta {
            display: inline-block;
            width: 24px;
            height: 23px;
            background-image: url("../img/icon_equipe_email_branco.png");
            background-position: center 10px;
            background-repeat: no-repeat;
            padding: 18px 20px;
            text-decoration: none;
            border-right: 1px solid #767676;
          }

          .linkedin {
            display: inline-block;
            width: 24px;
            height: 23px;
            background-image: url("../img/icon_equipe_linkedin_branco.png");
            background-position: center;
            background-repeat: no-repeat;
            padding: 18px 20px;
            text-decoration: none;
          }

          &:hover {
            background-color: #ffffff;
            h3 {
                margin-top: 15px;
                font-family: "Calibri";
                font-size: 13px;
                color: #00354d;
                text-transform: uppercase;
                font-weight: bold;
                text-align: center;
            }

            .carta {
              display: inline-block;
              width: 24px;
              height: 23px;
              background-image: url("../img/icon_equipe_email_azul.png");
              background-position: center 10px;
              background-repeat: no-repeat;
              padding: 18px 20px;
              text-decoration: none;
              border-right: 1px solid #01354d;
            }

            .linkedin {
              display: inline-block;
              width: 24px;
              height: 23px;
              background-image: url("../img/icon_equipe_linkedin_azul.png");
              background-position: center;
              background-repeat: no-repeat;
              padding: 18px 20px;
              text-decoration: none;
            }
          }
        &:last-child {
          margin-right: 0px;
        }
      }

}




.nosso_time {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../img/bg_textura.jpg");
  background-color: #00354d;
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;



  h2 {
      background-image: url("../img/hifen-branco.gif");
      background-repeat: no-repeat;
      background-position: top left;
      padding: 28px 0px;
      font-family: 'gothamblack';
      font-size: 38px;
      color: #ffffff;
      text-transform: uppercase;
      margin-top: 0px;

      span {
          font-family: "tahoma";
          font-size: 38px;
          color: #ffffff;
          text-transform: uppercase;
          line-height: 38px;
      }
  }

    .swiper-container-equipe {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }

    .swiper-slide {
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }

    .swiper-pagination-equipe {
        color: white !important;
      .swiper-pagination-bullet-active {
           background-color: white !important;
      }
    }


      .swiper-container-mobile {
        width: 290px;
        height: 364px;
        overflow: hidden;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        width: 210px;
        height: 374px;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;

          .membro {
              width: 210px !important;
              min-height: 264px;
              background-color: #262626;
              border-radius: 0px 0px 0px 20px;
              float: left;
              display: block;
              @media #{$phone}{
              }

              h3 {
                  margin-top: 15px;
                  font-family: "Calibri";
                  font-size: 13px;
                  color: #ffffff;
                  text-transform: uppercase;
                  font-weight: bold;
                  text-align: center;
              }

              .carta {
                display: inline-block;
                width: 24px;
                height: 23px;
                background-image: url("../img/icon_equipe_email_branco.png");
                background-position: center 10px;
                background-repeat: no-repeat;
                padding: 18px 20px;
                text-decoration: none;
                border-right: 1px solid #767676;
              }

              .linkedin {
                display: inline-block;
                width: 24px;
                height: 23px;
                background-image: url("../img/icon_equipe_linkedin_branco.png");
                background-position: center;
                background-repeat: no-repeat;
                padding: 18px 20px;
                text-decoration: none;
              }

              &:hover {
                background-color: #ffffff;
                h3 {
                    margin-top: 15px;
                    font-family: "Calibri";
                    font-size: 13px;
                    color: #00354d;
                    text-transform: uppercase;
                    font-weight: bold;
                    text-align: center;
                }

                .carta {
                  display: inline-block;
                  width: 24px;
                  height: 23px;
                  background-image: url("../img/icon_equipe_email_azul.png");
                  background-position: center 10px;
                  background-repeat: no-repeat;
                  padding: 18px 20px;
                  text-decoration: none;
                  border-right: 1px solid #01354d;
                }

                .linkedin {
                  display: inline-block;
                  width: 24px;
                  height: 23px;
                  background-image: url("../img/icon_equipe_linkedin_azul.png");
                  background-position: center;
                  background-repeat: no-repeat;
                  padding: 18px 20px;
                  text-decoration: none;
                }
              }
            &:last-child {
              margin-right: 0px;
            }
          }

          .membro2 {
              width: 210px !important;
              min-height: 264px;
              background-color: #4c4c4c;
              border-radius: 0px 0px 0px 20px;
              float: left;
              display: block;
              @media #{$phone}{
                    margin: 0px;
              }

              h3 {
                  margin-top: 15px;
                  font-family: "Calibri";
                  font-size: 13px;
                  color: #ffffff;
                  text-transform: uppercase;
                  font-weight: bold;
                  text-align: center;
              }

              .carta {
                display: inline-block;
                width: 24px;
                height: 23px;
                background-image: url("../img/icon_equipe_email_branco.png");
                background-position: center 10px;
                background-repeat: no-repeat;
                padding: 18px 20px;
                text-decoration: none;
                border-right: 1px solid #767676;
              }

              .linkedin {
                display: inline-block;
                width: 24px;
                height: 23px;
                background-image: url("../img/icon_equipe_linkedin_branco.png");
                background-position: center;
                background-repeat: no-repeat;
                padding: 18px 20px;
                text-decoration: none;
              }

              &:hover {
                background-color: #ffffff;
                h3 {
                    margin-top: 15px;
                    font-family: "Calibri";
                    font-size: 13px;
                    color: #00354d;
                    text-transform: uppercase;
                    font-weight: bold;
                    text-align: center;
                }

                .carta {
                  display: inline-block;
                  width: 24px;
                  height: 23px;
                  background-image: url("../img/icon_equipe_email_azul.png");
                  background-position: center 10px;
                  background-repeat: no-repeat;
                  padding: 18px 20px;
                  text-decoration: none;
                  border-right: 1px solid #01354d;
                }

                .linkedin {
                  display: inline-block;
                  width: 24px;
                  height: 23px;
                  background-image: url("../img/icon_equipe_linkedin_azul.png");
                  background-position: center;
                  background-repeat: no-repeat;
                  padding: 18px 20px;
                  text-decoration: none;
                }
              }
            &:last-child {
              margin-right: 0px;
            }
          }

      }

          .membro3 {
              width: 210px !important;
              min-height: 264px;
              background-color: #818181;
              border-radius: 0px 0px 0px 20px;
              float: left;
              display: block;
              @media #{$phone}{
                margin: 0px;
              }
              
              h3 {
                  margin-top: 15px;
                  font-family: "Calibri";
                  font-size: 13px;
                  color: #ffffff;
                  text-transform: uppercase;
                  font-weight: bold;
                  text-align: center;
              }

              .carta {
                display: inline-block;
                width: 24px;
                height: 23px;
                background-image: url("../img/icon_equipe_email_branco.png");
                background-position: center 10px;
                background-repeat: no-repeat;
                padding: 18px 20px;
                text-decoration: none;
                border-right: 1px solid #767676;
              }

              .linkedin {
                display: inline-block;
                width: 24px;
                height: 23px;
                background-image: url("../img/icon_equipe_linkedin_branco.png");
                background-position: center;
                background-repeat: no-repeat;
                padding: 18px 20px;
                text-decoration: none;
              }

              &:hover {
                background-color: #ffffff;
                h3 {
                    margin-top: 15px;
                    font-family: "Calibri";
                    font-size: 13px;
                    color: #00354d;
                    text-transform: uppercase;
                    font-weight: bold;
                    text-align: center;
                }

                .carta {
                  display: inline-block;
                  width: 24px;
                  height: 23px;
                  background-image: url("../img/icon_equipe_email_azul.png");
                  background-position: center 10px;
                  background-repeat: no-repeat;
                  padding: 18px 20px;
                  text-decoration: none;
                  border-right: 1px solid #01354d;
                }

                .linkedin {
                  display: inline-block;
                  width: 24px;
                  height: 23px;
                  background-image: url("../img/icon_equipe_linkedin_azul.png");
                  background-position: center;
                  background-repeat: no-repeat;
                  padding: 18px 20px;
                  text-decoration: none;
                }
              }
            &:last-child {
              margin-right: 0px;
            }
          }


  .equipe {
      text-align: center;

      .membro {
          width: 210px !important;
          min-height: 264px;
          background-color: #262626;
          padding-bottom: 20px;
          border-radius: 0px 0px 0px 20px;
          float: left;
          margin-right: 75px; 
          margin-bottom: 30px; 
          display: block;
          @media #{$phone}{
              margin: 0px 55px;
          }

          h3 {
              margin-top: 15px;
              font-family: "Calibri";
              font-size: 13px;
              color: #ffffff;
              text-transform: uppercase;
              font-weight: bold;
              text-align: center;
          }

          .carta {
            display: inline-block;
            width: 24px;
            height: 23px;
            background-image: url("../img/icon_equipe_email_branco.png");
            background-position: center 10px;
            background-repeat: no-repeat;
            padding: 18px 20px;
            text-decoration: none;
            border-right: 1px solid #767676;
          }

          .linkedin {
            display: inline-block;
            width: 24px;
            height: 23px;
            background-image: url("../img/icon_equipe_linkedin_branco.png");
            background-position: center;
            background-repeat: no-repeat;
            padding: 18px 20px;
            text-decoration: none;
          }

          &:hover {
            background-color: #ffffff;
            h3 {
                margin-top: 15px;
                font-family: "Calibri";
                font-size: 13px;
                color: #00354d;
                text-transform: uppercase;
                font-weight: bold;
                text-align: center;
            }

            .carta {
              display: inline-block;
              width: 24px;
              height: 23px;
              background-image: url("../img/icon_equipe_email_azul.png");
              background-position: center 10px;
              background-repeat: no-repeat;
              padding: 18px 20px;
              text-decoration: none;
              border-right: 1px solid #01354d;
            }

            .linkedin {
              display: inline-block;
              width: 24px;
              height: 23px;
              background-image: url("../img/icon_equipe_linkedin_azul.png");
              background-position: center;
              background-repeat: no-repeat;
              padding: 18px 20px;
              text-decoration: none;
            }
          }
        &:last-child {
          margin-right: 0px;
        }
      }

      .membro2 {
          width: 210px !important;
          min-height: 264px;
          background-color: #4c4c4c;
          padding-bottom: 20px;
          border-radius: 0px 0px 0px 20px;
          float: left;
          margin-right: 75px; 
          margin-bottom: 30px;
          display: block;
          @media #{$phone}{
              margin: 0px 55px;
          }

          h3 {
              margin-top: 15px;
              font-family: "Calibri";
              font-size: 13px;
              color: #ffffff;
              text-transform: uppercase;
              font-weight: bold;
              text-align: center;
          }

          .carta {
            display: inline-block;
            width: 24px;
            height: 23px;
            background-image: url("../img/icon_equipe_email_branco.png");
            background-position: center 10px;
            background-repeat: no-repeat;
            padding: 18px 20px;
            text-decoration: none;
            border-right: 1px solid #767676;
          }

          .linkedin {
            display: inline-block;
            width: 24px;
            height: 23px;
            background-image: url("../img/icon_equipe_linkedin_branco.png");
            background-position: center;
            background-repeat: no-repeat;
            padding: 18px 20px;
            text-decoration: none;
          }

          &:hover {
            background-color: #ffffff;
            h3 {
                margin-top: 15px;
                font-family: "Calibri";
                font-size: 13px;
                color: #00354d;
                text-transform: uppercase;
                font-weight: bold;
                text-align: center;
            }

            .carta {
              display: inline-block;
              width: 24px;
              height: 23px;
              background-image: url("../img/icon_equipe_email_azul.png");
              background-position: center 10px;
              background-repeat: no-repeat;
              padding: 18px 20px;
              text-decoration: none;
              border-right: 1px solid #01354d;
            }

            .linkedin {
              display: inline-block;
              width: 24px;
              height: 23px;
              background-image: url("../img/icon_equipe_linkedin_azul.png");
              background-position: center;
              background-repeat: no-repeat;
              padding: 18px 20px;
              text-decoration: none;
            }
          }
        &:last-child {
          margin-right: 0px;
        }
      }

  }

      .membro3 {
          width: 210px !important;
          min-height: 264px;
          background-color: #818181;
          padding-bottom: 20px;
          border-radius: 0px 0px 0px 20px;
          float: left;
          margin-right: 75px; 
          margin-bottom: 30px; 
          display: block;
          @media #{$phone}{
              margin: 0px 55px;
          }
          
          h3 {
              margin-top: 15px;
              font-family: "Calibri";
              font-size: 13px;
              color: #ffffff;
              text-transform: uppercase;
              font-weight: bold;
              text-align: center;
          }

          .carta {
            display: inline-block;
            width: 24px;
            height: 23px;
            background-image: url("../img/icon_equipe_email_branco.png");
            background-position: center 10px;
            background-repeat: no-repeat;
            padding: 18px 20px;
            text-decoration: none;
            border-right: 1px solid #767676;
          }

          .linkedin {
            display: inline-block;
            width: 24px;
            height: 23px;
            background-image: url("../img/icon_equipe_linkedin_branco.png");
            background-position: center;
            background-repeat: no-repeat;
            padding: 18px 20px;
            text-decoration: none;
          }

          &:hover {
            background-color: #ffffff;
            h3 {
                margin-top: 15px;
                font-family: "Calibri";
                font-size: 13px;
                color: #00354d;
                text-transform: uppercase;
                font-weight: bold;
                text-align: center;
            }

            .carta {
              display: inline-block;
              width: 24px;
              height: 23px;
              background-image: url("../img/icon_equipe_email_azul.png");
              background-position: center 10px;
              background-repeat: no-repeat;
              padding: 18px 20px;
              text-decoration: none;
              border-right: 1px solid #01354d;
            }

            .linkedin {
              display: inline-block;
              width: 24px;
              height: 23px;
              background-image: url("../img/icon_equipe_linkedin_azul.png");
              background-position: center;
              background-repeat: no-repeat;
              padding: 18px 20px;
              text-decoration: none;
            }
          }
        &:last-child {
          margin-right: 0px;
        }
      }

}

.ultimas_publicacoes_home {
  padding-top: 60px;
  padding-bottom: 60px;

  h2 {
      background-image: url("../img/hifen-azul.gif");
      background-repeat: no-repeat;
      background-position: top left;
      padding: 28px 0px;
      font-family: 'gothamblack';
      font-size: 38px;
      color: #00354d;
      text-transform: uppercase;
      margin-top: 0px;

      span {
          font-family: "tahoma";
          font-size: 38px;
          color: #313131;
          text-transform: uppercase;
          line-height: 38px;
      }
  }

}

footer {

  .footer {
      background-color: #ffffff;
      width: 100%;
      padding-top: 60px;
      padding-bottom: 60px;
      border-top: 1px solid #e4e4e4;
      border-bottom: 1px solid #e4e4e4;

      .box_logo {
        text-align: center;
      }

      .box_social {
        text-align: right;
        ul {

          li {
            text-align: right;
            display: block;
            float: right;
            margin-bottom: 5px;
            @media #{$phone}{
                margin: 11px 6px
            }
          }

        }
      }

    .txt_footer {
        p {
            font-family: "Calibri";
            font-size: 13px;
            color: 1d1d1d;
            text-align: center;
            letter-spacing: 3px;
            margin-top: 15px;
            font-weight: bold;

            img {
              margin: 5px 10px;
            }
        }
    }

  }


}

.copy{
  background-color: #ffffff;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e4e4e4;
  .text-footer{
    p{
      font-family: 'calibri';
      font-size: 12px;
      letter-spacing: 0.6px;
      color: #535353;
      text-align: center;
      margin: 0px;
      padding: 0px;

      @media #{$phone}{
        letter-spacing: inherit;
        line-height: inherit;
        font-size: 9px;
      }
    }
  }
} 


