$phone: '(max-width: 767px)';
$tablet: '(min-width: 768px) and (max-width: 1199px)';
$notbook: '(min-width: 995px) and (max-width: 1515px)';
$netbook: '(min-width: 1050px) and (max-width: 1081px)';
$tablet-horizontal: '(min-width: 768px) and (max-width: 1024px)';

.home{
  .observe{

    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.footer{
  .menu-footer{
    ul{
      li{
        a{
          color: red;
        }
      }
    }
  }
}
