@font-face {
  font-family: "SourceSansPro";
  src: url('../fonts/SourceSansPro-Regular.ttf?1539693537') format('truetype'), url('../fonts/SourceSansPro-Regular.woff?1539693537') format('woff'), url('../fonts/SourceSansPro-Regular.svg?1539693537') format('svg'), url('../fonts/SourceSansPro-Regular.eot?1539693537') format('embedded-opentype'); }
@font-face {
  font-family: "SourceSansPro SemiBold";
  src: url('../fonts/SourceSansPro-SemiBold.ttf?1539693537') format('truetype'), url('../fonts/SourceSansPro-SemiBold.woff?1539693537') format('woff'), url('../fonts/SourceSansPro-SemiBold.svg?1539693537') format('svg'), url('../fonts/SourceSansPro-SemiBold.eot?1539693537') format('embedded-opentype'); }
@font-face {
  font-family: "SourceSansPro Bold";
  src: url('../fonts/SourceSansPro-Bold.ttf?1539693537') format('truetype'), url('../fonts/SourceSansPro-Bold.woff?1539693537') format('woff'), url('../fonts/SourceSansPro-Bold.svg?1539693537') format('svg'), url('../fonts/SourceSansPro-Bold.eot?1539693537') format('embedded-opentype'); }
@font-face {
  font-family: "SourceSansPro Light";
  src: url('../fonts/SourceSansPro-Light.ttf?1539693537') format('truetype'), url('../fonts/SourceSansPro-Light.woff?1539693537') format('woff'), url('../fonts/SourceSansPro-Light.svg?1539693537') format('svg'), url('../fonts/SourceSansPro-Light.eot?1539693537') format('embedded-opentype'); }
body {
  font-family: "SourceSansPro", Arial, Verdana, sans-serif; }

.relativo {
  position: relative; }

.aright {
  float: right; }

.m-right {
  margin-right: 15px; }

.btn-top {
  margin-top: 18px; }

.btn-bot {
  margin-bottom: 18px; }

.btn-xs {
  padding: 2px 5px 0px 5px; }

.container {
  opacity: 0; }

.login .login-form {
  margin-top: 180px;
  color: #5d5d5d;
  background: #f2f2f2;
  padding: 26px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; }
.login form[role=login] input, .login form[role=login] button {
  font-weight: normal; }
.login button {
  margin-bottom: 0px; }

.alteracoes {
  text-align: right;
  line-height: 120%;
  font-size: 16px;
  color: #FFF;
  margin-top: 18px; }
  .alteracoes span {
    background: #5cb85c;
    display: inline-block;
    padding: 5px 10px 5px 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; }
    .alteracoes span i {
      font-size: 14px; }

.alteracoes.nao-salvas span {
  background: #CA3737; }

.fechar {
  color: #FFF;
  float: right;
  cursor: pointer;
  font-size: 20px;
  margin-top: -3px; }
  .fechar:hover {
    color: #FFF; }

textarea, select, input[type=text], input[type=number], input[type=submit], input[type=radio], input[type=checkbox], input[type=password] {
  margin: 0px 5px 0px 0px;
  font-weight: normal; }

input[type=file] {
  width: 100%;
  height: 28px;
  margin-top: 6px; }

input[type=checkbox], input[type=radio] {
  margin-top: 3px;
  float: left; }

label {
  width: 100%;
  display: block;
  margin-bottom: 15px; }
  label span {
    display: block;
    font-weight: bold;
    margin-bottom: 5px; }

.grupo {
  margin-top: 5px;
  margin-bottom: 15px; }
  .grupo label {
    margin-bottom: 5px; }

.icone i {
  font-size: 12px;
  margin-right: 2px; }

.iconpicker {
  height: 30px; }

.icons-selector {
  margin-top: 5px; }
  .icons-selector .selector {
    width: 55px !important; }
  .icons-selector .selected-icon {
    width: 30px; }
    .icons-selector .selected-icon i {
      line-height: 28px; }

.icons-selector .selector-button {
  width: 25px !important; }
  .icons-selector .selector-button i {
    line-height: 30px; }

.menu_container {
  width: 100%;
  -moz-box-shadow: 0 0 10px rgba(51, 51, 51, 0.38);
  -webkit-box-shadow: 0 0 10px rgba(51, 51, 51, 0.38);
  box-shadow: 0 0 10px rgba(51, 51, 51, 0.38); }
  .menu_container .logo {
    width: 100%;
    padding: 20px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; }
    .menu_container .logo img {
      width: 100%; }
  .menu_container .menu {
    width: 100%;
    margin: 0px;
    padding: 0px; }
    .menu_container .menu li {
      list-style: none;
      border-bottom: 1px solid #000; }
      .menu_container .menu li a {
        display: block;
        background: #444;
        color: #515151;
        padding: 10px;
        font-size: 15px;
        background-image: linear-gradient(to bottom, #f0f0f0 0%, #dbd9d9 100%); }
        .menu_container .menu li a:hover {
          text-decoration: none;
          color: #ffffff;
          background-image: linear-gradient(to bottom, #235f92 0%, #163652 100%); }
        .menu_container .menu li a i {
          margin-right: 10px;
          float: left;
          font-size: 16px;
          margin-top: 2px; }
      .menu_container .menu li a.active {
        text-decoration: none;
        color: #ffffff;
        background-image: linear-gradient(to bottom, #235f92 0%, #163652 100%); }
  @media screen and (max-width: 780px) {
    .menu_container {
      display: none; } }

.menu-mobile {
  left: 0px;
  top: 0px;
  width: 40px;
  bottom: 0px;
  background: #337ab7;
  color: #FFF;
  position: absolute;
  z-index: 10;
  overflow-x: hidden;
  height: 40px; }
  .menu-mobile ul {
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0px; }
    .menu-mobile ul li {
      list-style: none;
      color: #FFF;
      border-bottom: 1px solid #000;
      padding: 5px 0px 5px 0px; }
      .menu-mobile ul li a {
        white-space: nowrap;
        color: #FFF;
        position: relative; }
        .menu-mobile ul li a span {
          position: absolute;
          left: 40px;
          top: -4px; }
        .menu-mobile ul li a i {
          width: 40px;
          text-align: center;
          margin-right: 0px;
          font-size: 20px;
          margin-top: 0px; }
  @media screen and (min-width: 781px) {
    .menu-mobile {
      display: none; } }

.no-bottom {
  margin-bottom: 0px; }

.icon-config {
  position: absolute;
  left: -10px;
  top: -5px;
  width: 21px;
  height: 22px;
  cursor: pointer;
  background: url("../img/config.png"); }

.table {
  margin-bottom: 0px; }

.linha {
  border-top: 1px solid #DDDDDD;
  margin: 15px 15px 14px 15px;
  position: relative; }
  .linha span {
    width: 40px;
    display: block;
    background: #FFF;
    margin: -8px auto 0px auto;
    text-align: center;
    color: #ADADAD; }

.table-configuracoes thead td span {
  font-size: 17px; }
.table-configuracoes td span {
  display: block;
  position: relative; }
.table-configuracoes td .fi-page-edit, .table-configuracoes td .fi-asterisk, .table-configuracoes td .fi-eye {
  cursor: pointer; }

.table-visualizar {
  width: 100%; }
  .table-visualizar thead tr td {
    font-weight: bold; }
  .table-visualizar tbody tr {
    position: relative; }
    .table-visualizar tbody tr td.acoes {
      width: 1px;
      white-space: nowrap; }
      .table-visualizar tbody tr td.acoes .ordenar-spot {
        height: 17px;
        margin-top: -17px; }
      .table-visualizar tbody tr td.acoes .button.tiny {
        margin-bottom: 0px;
        width: 30px;
        padding: 5px 0px 5px 0px; }
        .table-visualizar tbody tr td.acoes .button.tiny span {
          display: block;
          font-size: 17px; }
  .table-visualizar .ordenar-spot {
    display: none;
    height: 17px;
    position: absolute;
    left: 9px;
    right: 16px;
    margin-top: -9px; }
    .table-visualizar .ordenar-spot span {
      width: 100%;
      height: 1px;
      display: block;
      margin-top: 8px;
      border-bottom: 1px dashed #000; }
    .table-visualizar .ordenar-spot .glyphicon {
      position: absolute; }
    .table-visualizar .ordenar-spot .glyphicon-triangle-left {
      right: -4px; }
    .table-visualizar .ordenar-spot .glyphicon-triangle-right {
      left: -4px; }
    .table-visualizar .ordenar-spot:hover {
      color: green;
      text-align: center; }
      .table-visualizar .ordenar-spot:hover span {
        margin-top: 7px;
        border-bottom: 3px solid green; }
  .table-visualizar .ordenar-titulo {
    cursor: pointer; }

.alteracao-salva {
  display: none;
  position: absolute;
  font-size: 9px;
  top: -5px;
  right: 5px;
  background: #989898;
  color: #FFF;
  font-weight: bold;
  padding: 0px 4px 0px 4px;
  text-transform: uppercase;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }

.no-pright {
  padding-right: 0px; }

.no-pleft {
  padding-left: 0px; }

.mce-tinymce button:hover, .mce-tinymce button:focus, .mce-tinymce .button:hover, .mce-tinymce .button:focus, .mce-reset button:hover, .mce-reset button:focus, .mce-reset .button:hover, .mce-reset .button:focus {
  background-color: #FFF; }

.crud .dados_imagem, .modal-dialog .dados_imagem {
  margin-top: -12px;
  margin-bottom: 15px; }
  .crud .dados_imagem h5, .modal-dialog .dados_imagem h5 {
    margin-top: 5px; }
  .crud .dados_imagem .imagem_cadastrada, .modal-dialog .dados_imagem .imagem_cadastrada {
    display: block;
    width: 300px;
    height: 200px;
    margin-bottom: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center; }
.crud .big-icon, .modal-dialog .big-icon {
  text-align: center;
  width: 150px;
  height: 150px;
  line-height: 150px;
  font-size: 80px;
  margin-bottom: 5px;
  color: #000; }
.crud .galeria, .modal-dialog .galeria {
  margin-top: -15px;
  margin-bottom: 15px;
  padding-left: 0px; }
  .crud .galeria .item, .modal-dialog .galeria .item {
    display: inline-block;
    vertical-align: top;
    border: 1px solid #ddd;
    background: #EEE;
    border-radius: 12px;
    padding: 5px;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 10px; }
    .crud .galeria .item .imagem_cadastrada, .modal-dialog .galeria .item .imagem_cadastrada {
      border-radius: 12px;
      display: block;
      width: 150px;
      height: 150px;
      margin-bottom: 5px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center; }
.crud .end, .modal-dialog .end {
  min-height: 85px; }

#crop-imagem p {
  text-align: center; }
#crop-imagem .btn-recortar {
  margin: 20px 0px 0px 0px; }
#crop-imagem .cropper {
  width: 500px;
  height: auto;
  margin: 0px auto 0px auto; }
#crop-imagem .jcrop-holder {
  margin: 0px auto 0px auto; }
#crop-imagem .jcrop-keymgr {
  display: none !important; }

.container-fluid h1, .container-fluid h2 {
  float: left; }

h2 i {
  margin-right: 13px;
  margin-top: 2px;
  font-size: 26px;
  float: left; }

h1 i {
  margin-right: 13px;
  margin-top: 0px;
  font-size: 28px;
  float: left; }

.config-exibir {
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative; }
  .config-exibir input {
    color: #000; }
  .config-exibir select {
    width: 70px;
    color: #000;
    text-align: center; }
  .config-exibir .btn {
    float: right; }
  .config-exibir i {
    color: #FFF; }
  .config-exibir .cancelar-ordenacao {
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    padding-top: 6px;
    text-align: center;
    z-index: 5; }

.tab-item.desativado {
  background: #EEE;
  color: #BBB;
  position: relative; }
  .tab-item.desativado:hover {
    color: #BBB; }

.aviso_abas {
  display: none;
  border: 1px solid #CCC;
  position: absolute;
  top: 1px;
  right: 15px;
  width: 185px;
  text-align: center;
  line-height: 120%;
  background: #EEE;
  color: #000;
  padding: 2px;
  z-index: 5;
  -moz-border-radius: 12px 12px 12px 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px 12px 12px 12px; }

.tab-item {
  color: #555; }
  .tab-item:hover {
    color: #555; }

.pagination {
  margin: 0px 0px 10px 0px; }
  .pagination a {
    cursor: pointer; }

.remover-busca {
  padding: 7px 8px 5px 8px;
  margin-top: 26px; }

.escondido {
  opacity: 0; }

.sumir {
  display: none; }

.lista-campos {
  background: #f5f5f5;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  padding-top: 15px;
  margin: 5px 0px 20px 0px; }

.campos {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd; }

@media (max-width: 767px) {
  .top-mob {
    text-align: center;
    display: block;
    text-align: center;
    position: fixed;
    text-align: center;
    width: 100%;
    background-color: #337ab7;
    z-index: 10;
    padding: 10px;
    box-shadow: -1px 2px 20px 0px #b7b7b7; }
    .top-mob img {
      display: inline-block; }

  .espace {
    margin: 50px 0px; } }
